#orderWrapper{
    // border: 1px solid black;
    margin-top: 20px ;
    #buttonWrapper{
        list-style: none;
        display: flex;
        text-align: center;
        margin-bottom: 35px;
        .tabButton{
            line-height: 45pt;
            border: 1px solid $lightBrown;
            font-size: 18pt;
            width: 33.3%;
            height: 55px;
            border-radius: 10px;
            box-shadow: 0 5px 2px $lightBrown;
            
            a{
                color: $brown; 
                text-decoration: none;
            }
        }
        .tabBtnActive{
            box-shadow: 0 5px 2px $brown;

        }
    }
    #orderArea{
        .orderList{
            @include tableStyle;
            
            .btnStyle{
                
                @include btnStyle;
            }
        }
        #notClaimed{
            display: none;
            padding-top: 10px;
            text-align: right;
            label{
                
                color: $brown;
                input{
                    height: 30px;
                }
            }
        }
        #claimed{
            display: none;
            .orderList{
                @include tableStyle;
            }
        }
    }
}