//colors 
$pink: #F5B5BF; 
$green: #E1EFD4; 
$red: #D9534F;
$blue: #2278C3;
$background-color: #FBF7EC; 
$text-color: #8E4C4C; 
$gray: #ececec; 
// $darker-gray: #b8b8b8;
$darker-gray: #707070;
$black: #4d4d4d;

//fonts
$primary-font: 'Noto Sans TC', sans-serif;