//colors 
$pink: #FF91AF; 
$darker-pink: #ff90a0; 
$green: #E1EFD4; 
$red: #D9534F;
$blue: #2278C3;
// $background-color: #FBF7EC; 
$background-color: #ffefc2; 
// $text-color: #8E4C4C; 
$text-color: #a54c4c; 
// $text-color: #ff90a0;
$gray: #ececec; 
// $darker-gray: #b8b8b8;
$darker-gray: #8d8d8d;
$black: #4d4d4d;

//fonts
$primary-font: 'Noto Sans TC', sans-serif;