//colors 
$pink: #F5B5BF; 
$green: #E1EFD4; 
$red: #D9534F;
$blue: #2278C3;
$background-color: #FFF8E7; 
$text-color: #8E4C4C; 
$gray: #dddddd; 
$black: #4d4d4d;

//fonts
$primary-font: 'Noto Sans TC', sans-serif;