<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/header') %>

    <!-- ABOUT -->
    <section class="about">
      <div class="heading">
        <h1 class="page-heading">
          <span>品牌形象</span>
        </h1>
        <div class="breadcrumb">
          <ul>
            <li><a href="/"><i class="fas fa-home"></i>首頁</a></li>
            <li><a href="">
                品牌形象
              </a></li>
          </ul>
        </div>
      </div>
      <div class="about-wrapper">

        <div class="content" data-aos="fade-right">
          <img src="https://cdn.pixabay.com/photo/2016/03/27/22/38/cake-1284548_1280.jpg">
          <p>
            「呷甜甜Sweet Bakery」是位於台中的甜點店，好吃的甜點不用華麗鋪張，純粹美味的內在就能療癒心靈。用好蛋糕，記憶美好生活蛋糕，擄獲全台灣許許多多熱愛甜點的朋友的心！

            而呷甜甜的美味秘訣，除了將「簡單不膩」貫徹到底以外，更有著使用好食材的堅持。即使是最常見的巧克力甜點，在呷甜甜也有著不同凡響的食材選用堅持。
          </p>
        </div>
        <div class="content odd" data-aos="fade-left" data-aos-delay="1000">
          <img src="https://cdn.pixabay.com/photo/2018/10/29/12/47/suites-3781071_1280.jpg">
          <!-- <p>
            好吃的甜點不用華麗鋪張，純粹美味的內在就能療癒心靈，用好蛋糕，記憶美好生活
          </p> -->
          <p>
            <span>Sweet Bakery嚴選優質食材，簡單純粹的自然美味</span>
            <span>使用日本海藻糖-低糖度、低熱量，爽口不膩的清爽新選擇</span>
            <span>日本菓子粉-純小麥製作，100%純天然、無人工添加物</span>
            <span>法國發酵奶油-濃郁奶香，柔順絲滑的頂級奶油</span>

          </p>
        </div>

        <!-- <div class="info-cards">
          <div class="store-info">
            <h2 class="card-heading">店家資訊</h2>
            <ul>
              <li>門市地址：<a href="https://www.google.com/maps">台中市黎明路</a></li>
              <li>聯絡電話：<a href="tel:04-12345678">04-12345678</a></li>
              <li>電子信箱：<a href="mailto: sweetbakery@email.com">sweetbakery@gmail.com</a></li>
            </ul>
            <div class="social">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-line"></i>
            </div>
          </div>
          <div class="store-hour">
            <h2 class="card-heading">營業時間</h2>
            <ul>
              <li><span>星期一</span><span>10:00 ~ 20:00</span></li>
              <li><span>星期二</span><span>10:00 ~ 20:00</span></li>
              <li><span>星期三</span><span>10:00 ~ 20:00</span></li>
              <li><span>星期四</span><span>10:00 ~ 20:00</span></li>
              <li><span>星期五</span><span>10:00 ~ 20:00</span></li>
              <li><span>星期六</span><span>10:00 ~ 20:00</span></li>
              <li><span>星期日</span><span>10:00 ~ 20:00</span></li>
            </ul>
          </div>
        </div> -->
      </div>

      <%- include('partials/footer') %>
    </section>

    <!-- Javascript -->
    <%- include('javascript/script') %>

</body>

</html>