<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/header') %>

    <!-- ABOUT -->
    <section class="about">
      <div class="heading">
        <div class="page-heading">
          <h1>品牌形象</h1>
        </div>
        <div class="breadcrumb">
          <ul>
            <li><a href="/">首頁</a></li>
            <li><a href="">
                品牌形象
              </a></li>
          </ul>
        </div>
      </div>
      <div class="about-wrapper">

        <div class="content" data-aos="fade-right">
          <img src="/img/about1.jpeg">
          <p>
            「呷甜甜Sweet
            Bakery」美味的甜點無須浮華宣張，天然純粹的口感及淡淡獨特的果香足以療癒身心。呷甜甜，陪著您記錄著美好生活每個時刻，將平凡無味的生活都變得甜美而不平凡，擄獲幸福的滋味，享受著不同凡響的饗宴！令舌尖陷入瘋狂的盛饗，美味與健康共存，吃甜點不胖不再只是夢想！
          </p>
        </div>
        <div class="content odd" data-aos="fade-left" data-aos-delay="1000">
          <img src="/img/about2.jpeg">
          <p>
            Sweet Bakery嚴格完美黃金烘烤溫控，促成了蛋糕無暇紮實的口感，同時，亦使用法國愛樂薇發酵無鹽奶油，低糖度、低熱量，降低50%身體負擔超輕盈，使甜點愛好者吃Sweet
            Bakery蛋糕不會有罪惡感，加上使用嚴選頂級自然食材的堅持，使甜點愛好者吃下去的每一口，都是一場找尋著「純粹自然」的奇幻旅程。
          </p>
        </div>
      </div>

      <%- include('partials/footer') %>
    </section>

    <!-- Javascript -->
    <%- include('javascript/script') %>

</body>

</html>