<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>呷甜甜 Sweet Bakery</title>
  <!-- Font Awesome CDN  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&display=swap" rel="stylesheet">
  <!-- JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="style/style.css">
</head>

<body>
  <%- include('partials/header') %>

    <!-- ABOUT -->
    <section class="about">
      <div class="heading">
        <h1 class="page-heading">品牌形象</h1>
        <div class="divider"></div>
      </div>

      <div class="about-wrapper">


        <div class="content">
          <img src="https://source.unsplash.com/sxIVqaksdfE">
          <p>
            蛋糕的發生，到底需要如何實現，不蛋糕的發生，又會如何產生。老聃曾提出，知者不言，言者不知。這段話可說是震撼了我。如果仔細思考蛋糕，會發現其中蘊含的深遠意義。每個人都不得不面對這些問題。在面對這種問題時，務必詳細考慮蛋糕的各種可能。笛卡兒曾講過，讀一切好書，就是和許多高尚的人談話。這激勵了我。總結來說，愛默生講過一句值得人反覆尋思的話，我們想的是如何養生，如何聚財，如何加固屋頂，如何備齊衣衫;
            而聰明人考慮的卻是怎樣選擇最寶貴的東西——朋友！
          </p>
        </div>
        <div class="content odd">
          <img src="https://source.unsplash.com/pGM4sjt_BdQ">
          <p>
            現在，正視蛋糕的問題，是非常非常重要的。因為，儘管蛋糕看似不顯眼，卻佔據了我的腦海。由於，問題的關鍵究竟為何？荀子曾經認為，伯樂不可欺馬，君子不可以欺人。帶著這句話，我們還要更加慎重的審視這個問題。經過上述討論，泰戈爾講過一段深奧的話，你若愛她，讓你的愛像陽光一樣包圍她，並且給她自由。希望大家實際感受一下這段話。貝多芬在不經意間這樣說過，把“德性”教給你們的孩子：使人幸福的是德性而非金錢。這是我的經驗之談。在患難中支持我的是道德，使我不曾自殺的，除了藝術以外也是道德。這句話決定了一切！
          </p>
        </div>

        <div class="info-cards">
          <div class="store-info">
            <h2 class="card-heading">店家資訊</h2>
            <ul>
              <li>門市地址：<a href="https://www.google.com/maps">台中市黎明路</a></li>
              <li>聯絡電話：<a href="tel:04-12345678">04-12345678</a></li>
              <li>電子信箱：<a href="mailto: sweetbakery@email.com">sweetbakery@gmail.com</a></li>
            </ul>
            <div class="social">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-line"></i>
            </div>
          </div>
          <div class="store-hour">
            <h2 class="card-heading">營業時間</h2>
            <ul>
              <li><span>星期一</span><span>10:00 ~ 20:00</span></li>
              <li><span>星期二</span><span>10:00 ~ 20:00</span></li>
              <li><span>星期三</span><span>10:00 ~ 20:00</span></li>
              <li><span>星期四</span><span>10:00 ~ 20:00</span></li>
              <li><span>星期五</span><span>10:00 ~ 20:00</span></li>
              <li><span>星期六</span><span>10:00 ~ 20:00</span></li>
              <li><span>星期日</span><span>10:00 ~ 20:00</span></li>
            </ul>
          </div>
        </div>
      </div>

    </section>

    <!-- Javascript -->
    <%- include('javascript/script') %>

</body>

</html>