<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>呷甜甜 Sweet Bakery-會員專區</title>
  <!-- Font Awesome CDN  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&display=swap" rel="stylesheet">
  <!-- JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="style/style.css">

  <!-- Font Awesome icon -->
  <script src="https://kit.fontawesome.com/a20761abbc.js" crossorigin="anonymous"></script>
</head>

<body>

  <%- include('partials/header') %>

    <section class="userPasswordUpdate ">

      <div class="sidebar">
        <ul class="sideMenu">
          <div class="divider"></div>
          <li>
            <i class="fas fa-user"></i>
            <a id="user" href="/user">我的檔案</a>
          </li>
          <li>
            <i class="fa-solid fa-unlock-keyhole"></i>
            <a id="passwordUpdate" href="/passwordUpdate">更改密碼</a>
          </li>
          <li>
            <i class="fa-solid fa-clipboard-list"></i>
            <a id="cupcakes" href="/orders">會員訂單</a>
          </li>
        </ul>
      </div>

      <div class="passwordContainer">
        <h1 class="heading">更改密碼</h1>
        <div class="divider"></div>
        <form>
          <div class="userData">
            <label for="currentPassword">現在的密碼</label>
            <input class=" formInput" type="password" id="currentPassword" name="
          currentPassword" placeholder="目前密碼" required>
          </div>

          <div class="userData">
            <label for="newPassword">新密碼</label>
            <input class="formInput" type="password" id="newPassword" pattern="/[\W]/g,'') *" name="newPassword"
              placeholder="請輸入新密碼" required>
          </div>

          <div class="userData">
            <label for="confirmPassword">確認密碼</label>
            <input class="formInput" type="password" id="confirmPassword" name="confirmPassword" placeholder="確認新密碼"
              required>
          </div>

          <div class="buttons">
            <button type="submit" value="確認" class="btn submitBtn">
              確認
            </button>
          </div>
        </form>
      </div>

    </section>
    </div>

    <!-- Footer Section -->
    <%- include('partials/footer') %>

      <!-- javascript -->
      <%- include('javascript/script') %>
        <%- include('javascript/changePassword') %>


</body>

</html>