<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>呷甜甜 Sweet Bakery</title>
  <!-- Font Awesome CDN  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&display=swap" rel="stylesheet">

  <!-- Swiper CDN -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="style/style.css">


</head>

<body>
  <%- include('partials/header') %>

    <section class="productDetail">
      <div class="heading">
        <h1 class="page-heading">商品介紹</h1>
        <div class="divider"></div>
      </div>

      <div class="product-body">
        <div class="productInfo">
          <div class="productSlider">
            <img id="featured" class="productImg" src="img/cookies/cookie1.jpeg">

            <div class="slides">
              <img class="thumbnail active" src="img/cookies/cookie1.jpeg">
              <img class="thumbnail" src="img/cookies/cookie2.jpeg">
              <img class="thumbnail" src="img/cookies/cookie3.jpeg">
            </div>
          </div>

          <div class="productContent">
            <h2 class="productTitle">撒糖屑曲奇餅乾</h2>
            <div class="productSize"><span>1盒8入</span></div>
            <div class="productPrice"><span>NT $</span><span>300</span></div>
            <div class="desc">
              <p>比起一般的奶油曲奇，更加紮實脆口 還多了溫潤迷人的楓糖香氣 藉著嵌入酥脆的綜合堅果 口感再升級一層次 職人親手烘焙的用心 每一口都吃得到！</p>
            </div>
            <div class="productQty">
              <button class="minus qtyBtn"><i class="fas fa-minus"></i></button>
              <input id="productNum" class="inputNum" type="number" min="1" value="1">
              <button class="plus qtyBtn"><i class="fas fa-plus"></i></button>
            </div>
            <div class="buttons">
              <button class="addToCartBtn"><i class="fas fa-cart-plus"></i>加入購物車</button>
              <button class="buyBtn">立即購買</button>
            </div>
          </div>
        </div>

        <div class="productDesc">
          <h3 class="product-heading">商品簡介</h3>
          <!-- <div class="divider"></div> -->
          <div class="detail">
            <p>台灣第一款 如香水般有豐富層次的頂級巧克力蛋糕<br>
              入口前味微苦的巧克力，<br>
              中段帶有濃郁的咖啡香，<br>
              尾韻則為淡淡的榛果及焦糖香味…
            </p>
            <p> 產品賞味期：自出廠日起算五天</p>
            <p class="ingredient">成份：雞蛋、牛奶、動物鮮奶油、低筋麵粉、比利時鈕扣調溫巧克力、奶油、砂糖、吉利丁</p>
          </div>
        </div>
      </div>

    </section>



    <!-- Footer Section -->
    <%- include('partials/footer') %>

      <!-- Swiper JS -->
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

      <!-- Javascript -->
      <%- include('javascript/script') %>
        <%- include('javascript/slider') %>

</body>

</html>