#mainWrapper{
    position: relative;
}
.classSearchArea{
    @include inputSearch;
    margin-bottom: 45px;
    input{
        right: 30px;
    }
    i{
        position: absolute;
        right: 0;
        top: 7px;
        font-size: 15pt;
        color: $brown;
    }
}
#classEditArea{
    position: absolute;
    left: 0;
    top: 125px; 
    // .classEditAll{
    //     display: none;
    // }

    #classEdit{
        display: none
    }

    select{
        @include selectStyle;
        margin: 10px 5px 0 0;
    }
    button{
        @include buttonStyle;
        margin: 10px 5px 0 0;
    }
}
.newClass{
    @include buttonStyle;
    float: right;
    margin: 10px 5px 0 0;
}
.classList{
    @include tableStyle;
    th:nth-of-type(4){
        width: 100px;
    }
    input{
        height: 30px;
        text-align: center;
    }
    .className{
        width: 200px;
    }
    .classPrice{
        width: 90px;
    }
    .classDuration{
        width: 60px;
    }
    .btnStyle{
        @include btnStyle;

    }
}