.modal{
    // display: none;
    position: fixed;
    z-index: 999999;
    border: 1px solid $brown;
    width: 1000px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -500px;
    border-radius: 25px;
    color: $brown;
    box-shadow: 5px 5px 10px $gray;
    .modalClose{
        width: 40px;
        height: 40px;
        font-size: 35px;
        font-weight: bold;
        background-color: $brown;
        color: white;
        border-radius: 50px;
        text-align: center;
        margin: 25px 25px 0 0;
        float: right;
    }

    #mainModalTitle{
        margin-bottom: 30px;
        font-size: 28pt;
        font-weight: bold;
    }

    .modalContent{
        margin: 70px 60px 60px 60px;

        .orderItem{
            font-size: 14pt;
            margin-bottom: 10px;
            border-radius: 10px;
            border: 1px solid $brown;
            padding: 25px;
            text-align: right;


            .orderItemTitle{
                font-size: 18pt;
                font-weight: 600;
                margin-bottom: 10px;
                text-align: left;
            }
            .orderItemSize{
                float: left;
            }

            hr{
                margin: 15px 0 10px 0;
                background-color: $lightBrown;
                height: 1px;
                border: 0
            }
            .subTotal{
                font-weight: 600;
            }
            
        }

        div:last-child{
            margin-top: 20px;
            text-align: right;
            span{
                font-size: 18pt;
                font-weight: 600;
                margin-right: 15px;
            }
            span:first-child{
                margin-right: 25px;
            }
        }
        
    }
}
