#productSearchArea{
    @include inputSearch;
}
#productSortArea{
    margin-top: 45px;
    text-align: right;
    position: relative;
    #productEditArea{
        position: absolute;
        left: 0;
        display: none;
    }
    select{
        font-size: 16pt;
        border-radius: 3px;
        padding: 3px 3px;
        color:$brown;
        
        
    }
    button{
        color: $brown;
        background: white;
        border: 1px solid $gray;
        font-size: 14pt;
        padding: 3px 5px;
        border-radius: 3px;
        cursor: pointer;
        &:first-of-type{
            position: absolute;
            left: 0;
            // display: none;
        }
    }
}
.productList{
    @include tableStyle;
    th:first-child,td:first-child{
        line-height: 10pt;
        padding-left: 10px;
    }
    input[type="checkbox"]{
        padding-left: 10px;
    }
    input{
        height: 30px;
        text-align: center;
    }
    .productName{
        width: 200px;
    }
    .productPrice{
        width: 90px;
    }
    .btnStyle{
        @include btnStyle;
    }
}