@import './variable';
@import './navigation';
@import'./backendHomeInfo';
@import'./order';
@import'./productList';
@import'./productCategory';
@import'./classList';
@import'./classTimeList';
@import'./classReservation';
@import './modal';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// 最外層wrapper 主要區域wrapper和title
#container{
    width: 100%;
    
    display: inline-flex;
    #mainWrapper{
        width: 90%;
        margin: 10px 30px;
        #mainTitle{
            padding-top: 10px;
            color: $brown;
            padding-bottom: 10px;
            
        }
    }
}

