.form{
  // margin: 2rem 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto;
  width: 1000px;
  max-width: 100%;
  .heading{
    @include page-heading($pink);
    .divider{
     @include divider(100)
    } 
  }
  .classInfo{
    display: flex;
    margin: 2rem 0;
    padding: 0.5rem;
    img{
      height: 100%;
      max-width: 100%;
      margin-right: 2rem;
    }
  }

  .classContent{
    line-height: 3rem;
    font-size: 1.2rem;
  }

  .classTitle{
    font-size: 2rem;
    font-weight: 700;
    span, .remain{
      font-size: 1.3rem;
      color: $text-color;
      white-space: nowrap;
    }
  }

  .classTime{
    font-size: 1.2rem;
    i{
      margin-right: 0.5rem;
    }
  }

  .classPrice{
    font-size: 1.3rem;
    font-weight: 700;
    color: $text-color;
  }

  .guest-info{
    font-size: 1.3rem;
    .divider{
      @include divider(80)
    } 
    .guestName, .guestPhone, .guestNotes{
      margin-top: 1rem;
      font-size: 1.3rem;
      span{
        color: $red;
      }
    }
  }

  .formInput{
    display: flex;
    margin-top: 1rem;
    border: 1px solid $gray;
    border-radius: 0.3rem;
    padding: 0.5rem;
    width: 20rem;
    &::placeholder{
      font-size: 1rem;
    }
    &:focus{
      border: 2px solid $pink;
    }
  }

  .buttons{
    margin-top: 2rem;
    .submit, .cancel{
      border: 1px solid $gray;
      background-color: transparent;
      color: $black;
      border-radius: 0.5rem;
      margin-top: 1rem;
      font-size: 1.3rem;
      margin: 0 1rem;
      // width: 2rem;
      // height: 1rem;
      padding: 0.5rem 2rem;
      cursor: pointer;
      &:hover{
        background-color: $pink;
        border-color: $pink;
        color: #fff;
      }
    }
    // .cancel{
    //   margin-left: 1rem;
    //   color: $black;
    //   background-color: transparent;
    //   border: 1px solid $gray;
    //   border-radius: 0.5rem;
    //   padding: 0.5rem 2rem;
    //   &:hover{
    //     background-color: $gray;
    //     color: $text-color;
    //   }
    // }
   
  }

  @media screen and (max-width: 1150px) {
    .classInfo{
      flex-wrap: wrap;
    }
  }

}