.classes{
  overflow: hidden;
  .heading{
    @include page-heading($text-color);
    // width: 85%;
    // margin: 2rem 10%;
    margin-top: 1rem;
    // margin: 1rem auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray;
    h1{
      span:first-child{
        margin-left: 5rem;
      }
      img{
        display: inline-block;
        width: 3rem;
      }
    }
    @include breadCrumbs;
    
    .divider{
      @include divider(100);
    }
  }

  .classes-wrapper{
   margin: 0 8%;
  }

  .search-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
    
  .search{
    --size: 2rem;
    display: flex;
    height: var(--size);
    margin-right: 1rem;
    .search-input{
      border: 1px solid $gray;
      padding: 0 0.5rem 0 1rem;
      background: transparent;
      width: 15rem;
      border-radius: 2rem;
      &:focus{
        border: 2px solid $pink ;
      }
    }
    .searchBtn{
      background: transparent;
      font-size: 1.25rem;
      padding: 0 0.2rem;
      color: $black;
      cursor: pointer;
      &:hover{
        color: $pink;
      }
    }
  }


  @media screen and (max-width: 750px){
    .classCard{
      flex-wrap: wrap;
    }
    .content{
      h2, div{
        display: flex;
        align-items: center;
      }
      .classInfo{
        flex-direction: column;
      }
    }
  }
  
  @media screen and (max-width: 485px){
    .heading{
      width: 100%;
    }
    .search-container{
      justify-content: center;
      align-items: center;
      margin-left: 4.5rem;
    }

  }
}