.products{
  .heading{
    @include page-heading(0); 
    width: 70%;
    margin: 1rem 24%;
  }
  .divider{
    @include divider(100);
  }

  .products-container{
    margin: 0 5%;
    display: flex;
    // position: relative;
  }

  .product-content{
    width: 100%;
  }

  .product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-left: 10%;
  }

  .productCategories{
    margin-top: 5%;
    .menu{
      background-color: $pink;
      box-shadow: 5px 5px 5px $green;
      width: 10rem;
      height: 18rem;
      padding: 1rem;
      line-height: 3.5rem;
      margin-top: 10%;
      a{
        font-size: 1.3rem;
        color: #fff;
        margin-left: 1rem;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  .sort-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }

    /* sort style in component/sort.scss */
  

  @media screen and (max-width: 550px) {
    .heading{
      @include page-heading(0); 
      width: 80%;
      margin-left: 15%;
    }
    .productCategories{
      .menu{
        display: none;
        background-color: transparent;
        box-shadow: 0.6rem 0.6rem 0 $green;
        width: 10rem;
        height: 18rem;
        padding: 1rem;
        line-height: 3.5rem;
        margin-top: 10%;
        a{
          font-size: 1.3rem;
          color: #fff;
          margin-left: 1rem;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }

}