.products{
  .heading{
    @include page-heading($black); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // justify-content: space-between;
    background: url("https://www.kingarthurbaking.com/sites/default/files/inline-images/cupcakes.jpg"); 
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    // width: 90%;
    width: 100%;
    height: 300px;
    // border-bottom: 1px solid rgb(164, 241, 164);
    margin-bottom: 1rem;
    position: relative;
    h1{
      span{
        margin-left: 5rem;
      }
    }
    @include breadCrumbs;
  }

  .products-container{
    margin: 0 5%;
    display: flex;
    margin-bottom: 2rem;
  }

  .product-content{
    width: 100%;
    // border: 1px solid red;
  }

  .product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    margin-left: 10%;
    margin-bottom: 2rem;
  }

  .productCategories{
    margin-top: 5%;
    position: relative;
    .subHeading{
      text-align: center; 
      background-color: #ce5d70; 
      color: white; 
      // border-top-right-radius: 1rem;
      // border-top-left-radius: 1rem;
      border-radius: 1rem;
      // margin-bottom: 1rem;
      font-size: 1.5rem;
      padding: 0.5rem 0;
    }
    .sideMenu{
      // background-color: $pink;
      background-color: #f8f8f8;
      border-radius: 0.5rem;
      width: 11rem;
      height: 350px;
      // height: 530px;
      padding: 1rem;
      line-height: 4rem;
      a{
        font-size: 1.5rem;
        // color: #fff;
        color: $text-color;
        margin-left: 1rem;
        &:hover{
          // border-bottom: 2px solid $pink;
          font-weight: 700;
        }
      }
     
    }
  }

  .sort-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: 2rem;
  }


  @media screen and (max-width:416px) {
    .heading{
      @include page-heading(0); 
      width: 95%;
      margin-left: 5%;
    }
  }

}