.products{
  .heading{
    @include page-heading($text-color); 
    display: flex;
    justify-content: space-between;
    // width: 90%;
    width: 100%;
    border-bottom: 1px solid $gray;
    margin-bottom: 1rem;
    h1{
      span{
        margin-left: 5rem;
      }
    }
    @include breadCrumbs;
  }

  .products-container{
    margin: 0 5%;
    display: flex;
    margin-bottom: 2rem;
  }

  .product-content{
    width: 100%;
    // border: 1px solid red;
  }

  .product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    margin-left: 10%;
  }

  .productCategories{
    margin-top: 5%;
    position: relative;
    .sideMenu{
      // background-color: $pink;
      background-color: $background-color;
      width: 10rem;
      height: 400px;
      // height: 530px;
      padding: 1rem;
      line-height: 5rem;
      a{
        font-size: 1.6rem;
        // color: #fff;
        color: $text-color;
        margin-left: 1rem;
        &:hover{
          // border-bottom: 2px solid $pink;
          font-weight: 700;
        }
      }
     
    }
  }

  .sort-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: 2rem;
  }


  @media screen and (max-width:416px) {
    .heading{
      @include page-heading(0); 
      width: 95%;
      margin-left: 5%;
    }
  }

}