#addCategoryArea{
    margin-top: 20px;
    h3{
        font-weight: normal;
        color: $brown;
        margin-bottom: 15px;
    }
    label{
        color: $brown;
        input{
            height: 30px;
        }
    }
    button{
        color: $brown;
        background: white;
        border-radius: 2px;
        border: 1px solid $gray;
        height: 30px;
        width: 65px;
    }
}
.categoryList{
    @include tableStyle;

    .btnStyle{
        @include btnStyle;
    }
    input{
        height: 30px;
        text-align: center;
    }
   
}