#navWrapper {
  width: 250px;
  height: 100vh;
  text-align: center;
  background-color: #604545;
  border-top-right-radius: 50px;
  padding-top: 10pt;
}

#navWrapper i {
  padding-right: 5px;
}

#navWrapper #logo {
  width: 70%;
  margin-bottom: 20px;
}

#navWrapper #navContent {
  color: #DCD6C6;
  list-style: none;
  line-height: 30pt;
}

#navWrapper #navContent li {
  margin: 15px auto;
  padding: 3px 0px;
}

#navWrapper #navContent .navItem {
  list-style: none;
  color: #DCD6C6;
  text-decoration: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#navWrapper #navContent .navItem:hover {
  background-color: #978484;
}

#navWrapper #navContent .navItem a {
  text-decoration: none;
  color: #DCD6C6;
}

#navWrapper #navContent .sub1 {
  font-size: 12pt;
  list-style: none;
  display: none;
}

#navWrapper #navContent .navActive {
  background-color: #DCD6C6;
  color: #604545;
  font-weight: bolder;
  width: 85%;
  margin-right: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

@-webkit-keyframes showSub {
  from {
    display: none;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    display: block;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes showSub {
  from {
    display: none;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    display: block;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#navWrapper #navContent .navActive .sub1 {
  text-align: right;
  font-weight: normal;
  display: block;
  -webkit-animation: showSub 0.5s;
          animation: showSub 0.5s;
}

#navWrapper #navContent .navActive .sub1 li:hover {
  background-color: #DCD6C6;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#navWrapper #navContent .navActive .sub1 li a {
  padding-right: 40px;
}

#navWrapper #navContent .navActive .sub1 .subActive {
  padding-left: 5px;
  border-right: 5px solid #604545;
  font-weight: bolder;
}

#navWrapper #navContent .navActive a {
  color: #604545;
}

#capsulesArea {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#capsulesArea .capsule {
  text-align: center;
  border: 1px solid #707070;
  border-radius: 50px;
  margin-right: 20px;
  height: 90px;
  width: 240px;
  line-height: 30pt;
  position: relative;
}

#capsulesArea .capsule .title {
  font-size: 10pt;
  color: #604545;
  margin-left: 10px;
}

#capsulesArea .capsule .dataNum {
  font-size: 33pt;
  color: #604545;
  margin-left: 40px;
}

#capsulesArea .capsule .unit {
  color: #604545;
  font-size: 10pt;
  margin-left: 5px;
}

#capsulesArea .capsule .icon {
  position: absolute;
  color: #DCD6C6;
  width: 50px;
  height: 50px;
  left: 10px;
  top: 24%;
  border-radius: 50px;
  background-color: #604545;
  font-size: 22pt;
  line-height: 25pt;
  padding-top: 6px;
}

#tabWrapper {
  margin-top: 15px;
}

#tabWrapper #tabs {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  margin-left: 20px;
}

#tabWrapper #tabs .tabItem {
  text-align: center;
  width: 130px;
  padding: 11px 20px;
  background-color: white;
  border: 1px solid #707070;
  border-bottom: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #DCD6C6;
}

#tabWrapper #tabs .tabItem a {
  color: #604545;
  text-decoration: none;
}

#tabWrapper #tabs .tabActive {
  background-color: white;
  border-bottom: white;
  font-weight: bolder;
  position: relative;
}

#tabWrapper #tabs .tabActive:after {
  content: '';
  position: absolute;
  width: 129px;
  height: 2px;
  background: white;
  bottom: -1px;
  left: 0;
}

#tabWrapper #salesInfo {
  border: 1px solid #707070;
  border-top-right-radius: 15px;
  margin: 0 20px;
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 400px;
}

#tabWrapper #salesInfo #leftArea {
  padding-left: 20px;
  line-height: 60pt;
}

#tabWrapper #salesInfo #leftArea select {
  color: #604545;
  font-size: 16pt;
  border-radius: 5px;
  margin-right: 15px;
}

#tabWrapper #salesInfo #leftArea p {
  color: #604545;
}

#tabWrapper #salesInfo #leftArea #sales {
  font-size: 55pt;
  color: #604545;
  font-weight: bolder;
}

#tabWrapper #salesInfo #leftArea span {
  text-align: right;
  font-size: 10pt;
  color: #604545;
}

#tabWrapper #salesInfo #rightArea {
  padding-right: 20px;
  margin-bottom: 10px;
}

#tabWrapper #rankInfo {
  display: none;
  border: 1px solid #707070;
  border-top-right-radius: 15px;
  margin: 0 20px;
  padding: 0 20px;
  padding-top: 35px;
  height: 420px;
}

#tabWrapper #rankInfo .selectArea {
  text-align: right;
  margin-bottom: 10px;
}

#tabWrapper #rankInfo .selectArea select {
  color: #604545;
  font-size: 16pt;
}

#tabWrapper #rankInfo #rankTable {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  border-collapse: collapse;
}

#tabWrapper #rankInfo #rankTable tr {
  height: 55px;
}

#tabWrapper #rankInfo #rankTable tr th, #tabWrapper #rankInfo #rankTable tr td {
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}

#tabWrapper #rankInfo #rankTable tr th:first-child, #tabWrapper #rankInfo #rankTable tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#tabWrapper #rankInfo #rankTable tr th:last-child, #tabWrapper #rankInfo #rankTable tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#tabWrapper #rankInfo #rankTable thead {
  background-color: #604545;
  color: white;
}

#tabWrapper #rankInfo #rankTable tbody {
  background-color: #DCD6C6;
  color: #604545;
}

#tabWrapper #rankInfo #rankTable tbody .paymentStatus {
  color: #978484;
}

#tabWrapper #rankInfo #rankTable tbody input {
  color: #604545;
}

#orderWrapper {
  margin-top: 20px;
}

#orderWrapper #buttonWrapper {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-bottom: 35px;
}

#orderWrapper #buttonWrapper .tabButton {
  line-height: 45pt;
  border: 1px solid #DCD6C6;
  font-size: 18pt;
  width: 33.3%;
  height: 55px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 2px #DCD6C6;
          box-shadow: 0 5px 2px #DCD6C6;
}

#orderWrapper #buttonWrapper .tabButton a {
  color: #604545;
  text-decoration: none;
}

#orderWrapper #buttonWrapper .tabBtnActive {
  -webkit-box-shadow: 0 5px 2px #604545;
          box-shadow: 0 5px 2px #604545;
}

#orderWrapper #orderArea .orderList {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  border-collapse: collapse;
}

#orderWrapper #orderArea .orderList tr {
  height: 55px;
}

#orderWrapper #orderArea .orderList tr th, #orderWrapper #orderArea .orderList tr td {
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}

#orderWrapper #orderArea .orderList tr th:first-child, #orderWrapper #orderArea .orderList tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#orderWrapper #orderArea .orderList tr th:last-child, #orderWrapper #orderArea .orderList tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#orderWrapper #orderArea .orderList thead {
  background-color: #604545;
  color: white;
}

#orderWrapper #orderArea .orderList tbody {
  background-color: #DCD6C6;
  color: #604545;
}

#orderWrapper #orderArea .orderList tbody .paymentStatus {
  color: #978484;
}

#orderWrapper #orderArea .orderList tbody input {
  color: #604545;
}

#orderWrapper #orderArea .orderList .btnStyle {
  border: 1px solid #604545;
  border-radius: 20px;
  width: 70px;
  height: 35px;
  margin-left: 10px;
  cursor: pointer;
}

#orderWrapper #orderArea #notClaimed {
  display: none;
  padding-top: 10px;
  text-align: right;
}

#orderWrapper #orderArea #notClaimed label {
  color: #604545;
}

#orderWrapper #orderArea #notClaimed label input {
  height: 30px;
}

#orderWrapper #orderArea #claimed {
  display: none;
}

#orderWrapper #orderArea #claimed .orderList {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  border-collapse: collapse;
}

#orderWrapper #orderArea #claimed .orderList tr {
  height: 55px;
}

#orderWrapper #orderArea #claimed .orderList tr th, #orderWrapper #orderArea #claimed .orderList tr td {
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}

#orderWrapper #orderArea #claimed .orderList tr th:first-child, #orderWrapper #orderArea #claimed .orderList tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#orderWrapper #orderArea #claimed .orderList tr th:last-child, #orderWrapper #orderArea #claimed .orderList tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#orderWrapper #orderArea #claimed .orderList thead {
  background-color: #604545;
  color: white;
}

#orderWrapper #orderArea #claimed .orderList tbody {
  background-color: #DCD6C6;
  color: #604545;
}

#orderWrapper #orderArea #claimed .orderList tbody .paymentStatus {
  color: #978484;
}

#orderWrapper #orderArea #claimed .orderList tbody input {
  color: #604545;
}

#productSearchArea {
  position: relative;
}

#productSearchArea input {
  position: absolute;
  right: 0;
  top: 0;
  color: #604545;
  height: 30px;
}

#productSortArea {
  margin-top: 45px;
  text-align: right;
  position: relative;
}

#productSortArea #productEditArea {
  position: absolute;
  left: 0;
  display: none;
}

#productSortArea select {
  font-size: 16pt;
  border-radius: 3px;
  padding: 3px 3px;
  color: #604545;
}

#productSortArea button {
  color: #604545;
  background: white;
  border: 1px solid #707070;
  font-size: 14pt;
  padding: 3px 5px;
  border-radius: 3px;
  cursor: pointer;
}

#productSortArea button:first-of-type {
  position: absolute;
  left: 0;
}

.productList {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  border-collapse: collapse;
}

.productList tr {
  height: 55px;
}

.productList tr th, .productList tr td {
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}

.productList tr th:first-child, .productList tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.productList tr th:last-child, .productList tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.productList thead {
  background-color: #604545;
  color: white;
}

.productList tbody {
  background-color: #DCD6C6;
  color: #604545;
}

.productList tbody .paymentStatus {
  color: #978484;
}

.productList tbody input {
  color: #604545;
}

.productList th:first-child, .productList td:first-child {
  line-height: 10pt;
  padding-left: 10px;
}

.productList input[type="checkbox"] {
  padding-left: 10px;
}

.productList input {
  height: 30px;
  text-align: center;
}

.productList .productName {
  width: 200px;
}

.productList .productPrice {
  width: 90px;
}

.productList .btnStyle {
  border: 1px solid #604545;
  border-radius: 20px;
  width: 70px;
  height: 35px;
  margin-left: 10px;
  cursor: pointer;
}

#addCategoryArea {
  margin-top: 20px;
}

#addCategoryArea h3 {
  font-weight: normal;
  color: #604545;
  margin-bottom: 15px;
}

#addCategoryArea label {
  color: #604545;
}

#addCategoryArea label input {
  height: 30px;
}

#addCategoryArea button {
  color: #604545;
  background: white;
  border-radius: 2px;
  border: 1px solid #707070;
  height: 30px;
  width: 65px;
}

.categoryList {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  border-collapse: collapse;
}

.categoryList tr {
  height: 55px;
}

.categoryList tr th, .categoryList tr td {
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}

.categoryList tr th:first-child, .categoryList tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.categoryList tr th:last-child, .categoryList tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.categoryList thead {
  background-color: #604545;
  color: white;
}

.categoryList tbody {
  background-color: #DCD6C6;
  color: #604545;
}

.categoryList tbody .paymentStatus {
  color: #978484;
}

.categoryList tbody input {
  color: #604545;
}

.categoryList .btnStyle {
  border: 1px solid #604545;
  border-radius: 20px;
  width: 70px;
  height: 35px;
  margin-left: 10px;
  cursor: pointer;
}

.categoryList input {
  height: 30px;
  text-align: center;
}

#classEditArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#classEditArea button {
  color: #604545;
  background: white;
  border: 1px solid #707070;
  font-size: 14pt;
  padding: 3px 5px;
  border-radius: 3px;
  cursor: pointer;
}

#classEditArea #classEdit {
  display: none;
}

.classList {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  border-collapse: collapse;
}

.classList tr {
  height: 55px;
}

.classList tr th, .classList tr td {
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}

.classList tr th:first-child, .classList tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.classList tr th:last-child, .classList tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.classList thead {
  background-color: #604545;
  color: white;
}

.classList tbody {
  background-color: #DCD6C6;
  color: #604545;
}

.classList tbody .paymentStatus {
  color: #978484;
}

.classList tbody input {
  color: #604545;
}

.classList th:nth-of-type(4) {
  width: 100px;
}

.classList input {
  height: 30px;
  text-align: center;
}

.classList .className {
  width: 200px;
}

.classList .classPrice {
  width: 90px;
}

.classList .classDuration {
  width: 60px;
}

.classList .btnStyle {
  border: 1px solid #604545;
  border-radius: 20px;
  width: 70px;
  height: 35px;
  margin-left: 10px;
  cursor: pointer;
}

#classTimeEditArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#classTimeEditArea button {
  color: #604545;
  background: white;
  border: 1px solid #707070;
  font-size: 14pt;
  padding: 3px 5px;
  border-radius: 3px;
  cursor: pointer;
}

#classTimeEditArea #classTimeEdit {
  display: none;
}

.classTimeList {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  border-collapse: collapse;
}

.classTimeList tr {
  height: 55px;
}

.classTimeList tr th, .classTimeList tr td {
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}

.classTimeList tr th:first-child, .classTimeList tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.classTimeList tr th:last-child, .classTimeList tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.classTimeList thead {
  background-color: #604545;
  color: white;
}

.classTimeList tbody {
  background-color: #DCD6C6;
  color: #604545;
}

.classTimeList tbody .paymentStatus {
  color: #978484;
}

.classTimeList tbody input {
  color: #604545;
}

.classTimeList tbody tr {
  height: 80px;
}

.classTimeList tbody td:nth-of-type(3) {
  width: 250px;
}

.classTimeList input {
  margin-top: 4px;
}

.classTimeList .totalPeople {
  width: 60px;
}

.classTimeList .btnStyle {
  border: 1px solid #604545;
  border-radius: 20px;
  width: 70px;
  height: 35px;
  margin-left: 10px;
  cursor: pointer;
}

.classSearchArea {
  position: relative;
  margin-bottom: 40px;
}

.classSearchArea input {
  position: absolute;
  right: 0;
  top: 0;
  color: #604545;
  height: 30px;
}

.classReservationList {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  border-collapse: collapse;
}

.classReservationList tr {
  height: 55px;
}

.classReservationList tr th, .classReservationList tr td {
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}

.classReservationList tr th:first-child, .classReservationList tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.classReservationList tr th:last-child, .classReservationList tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.classReservationList thead {
  background-color: #604545;
  color: white;
}

.classReservationList tbody {
  background-color: #DCD6C6;
  color: #604545;
}

.classReservationList tbody .paymentStatus {
  color: #978484;
}

.classReservationList tbody input {
  color: #604545;
}

.classReservationList tbody tr {
  height: 80px;
}

.classReservationList tbody tr td:nth-child(3) {
  width: 100px;
}

.classReservationList .btnStyle {
  border: 1px solid #604545;
  border-radius: 20px;
  width: 70px;
  height: 35px;
  margin-left: 10px;
  cursor: pointer;
  width: 100px;
}

.modal {
  border: 1px solid #604545;
  width: 1000px;
  height: 600px;
  margin: 50px auto 0 auto;
  border-radius: 25px;
  color: #604545;
}

.modal .modalClose {
  width: 40px;
  height: 40px;
  font-size: 35px;
  font-weight: bold;
  background-color: #604545;
  color: white;
  border-radius: 50px;
  text-align: center;
  margin: 25px 25px 0 0;
  float: right;
}

.modal #mainModalTitle {
  margin-bottom: 30px;
  font-size: 28pt;
  font-weight: bold;
}

.modal .modalContent {
  margin: 70px 60px 60px 60px;
}

.modal .modalContent .orderItem {
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #604545;
  padding: 25px;
  text-align: right;
}

.modal .modalContent .orderItem .orderItemTitle {
  font-size: 18pt;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#container #mainWrapper {
  width: 90%;
  margin: 10px 30px;
}

#container #mainWrapper #mainTitle {
  padding-top: 10px;
  color: #604545;
  padding-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */