#capsulesArea{
    margin: 0 auto;
    width: 88%;
    justify-content: space-around;
    display: flex;
    
    .capsule{
        text-align: center;
        color: $brown;
        // border:  1px solid $gray;
        border-radius: 50px;
        height:90px;
        width: 340px;
        display: flex;
        align-items: center;
        // flex-direction: column;
        // line-height: 30pt;
        // position: relative;
        box-shadow: 8px 8px 20px rgba($gray, .4);

        .cLeft{
            width: 23%;
            .icon{
                margin: 0 auto;
                color: $lightBrown;
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50px;
                background-color: $brown;
                font-size: 24pt;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .cRight{
            width: 70%;
            height: 85%;
            flex-direction: column;
            .cTop{
                display: flex;
                justify-content: flex-start;
                margin-left: 15px;
                .title{
                    font-size: 12pt;
                }
                .editPerformance{
                    margin: 3px 0 0 20px;
                    font-size: 12pt;
                    cursor: pointer;
                    &:hover{
                        color: $secondary;
                    }
                }
            }
            .cBottom{
                margin-top: 5px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 55%;
                .dataNum{
                    font-weight: bold;
                    font-size: 35pt;
                    .hideData{
                        display: none;
                    }
                }
                .unit{
                    margin-top: 20px;
                    font-size: 12pt;
                }
            }
        }
    }
}
#tabWrapper{
    margin-top: 25px;
    width: 100%;
    // z-index: 0;
    color: $brown;
    #tabs{
        list-style: none;
        display: inline-flex;
        width: 100%;
        margin-left: 15px;
        .tabItem{
            text-align: center;
            font-size: 16pt;
            width: 130px;
            padding: 11px 20px;
            background-color: white;
            // border: 1px solid $gray;
            border-bottom: white;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            background-color: $lightBrown;
            cursor: pointer;
            &:hover{
                background-color: #d6cdb4;
            }
        }
        .tabActive{
            z-index: 1;
            background-color: white;
            border-bottom: white;
            font-weight: bolder;
            position: relative;
            box-shadow: 10px 0px 20px  rgba($gray, .5);
            cursor: default;
            &:after{
                content: '';
                position: absolute;
                width: 155px;
                height: 20px;
                background:white;
                bottom: -20px;
                left: 0;
            }
            &:hover{
                background-color: white;
            }
        }
    }
    #salesInfo{
       z-index: -1;
        // border: 1px solid $gray;
        border-radius: 15px;
        border-top-left-radius: 0;
        box-shadow: 5px 0px 25px rgba($gray, .5);
        margin: 0 15px ;
        padding-top: 10px;
        display: flex;
        justify-content:space-around;
        height: 425px;
        color: $brown;
        #leftArea{
            // border: 1px solid red;
            padding-left: 10px;
            line-height: 60pt;
            width: 37%;
            select{
                font-size: 16pt;
                height: 40px;
                padding: 0 5px;
                border: 1px solid $brown;
                border-radius: 5px;
                margin:40px 10px 0 0;
                &:focus{
                    border: 2px solid rgba($brown,.8);
                    outline: none;
                }
            } 
            p{
                font-size: 18pt;
                margin: 5px 0 10px 0;
            }  
            .salesContainer{
                width: 100%;
                text-align: center;
            }
            #sales, .sales{
                text-align: center;
                font-size: 60pt;
                font-weight: bolder;
                
            }
            span{
                text-align: right;
                font-size: 16pt;
            }
        }
        #rightArea{
            // border: 1px solid red;
            margin: 0 10px 10px 0;
            width: 60%;
            height: 97%;
            border-radius: 50px;
            // box-shadow: 1px 1px 10px rgba($gray, .3);
            // background-color: rgba($lightBrown,.2);
        }
    }
    #rankInfo{
        // z-index: -1;
        display: none;
        // border: 1px solid $gray;
        border-radius: 15px;
        box-shadow: 5px 0px 25px rgba($gray, .5);
        border-top-left-radius: 0;
        margin: 0 15px ;
        padding: 0 20px;
        padding-top: 35px;
        height: 425px;
        position: relative;
        
        .selectArea{
            text-align: right;
            margin-bottom: 5px;
            select{
                color: $brown;
                font-size: 16pt;
                height: 40px;
                padding: 0 5px;
                border: 1px solid $brown;
                border-radius: 5px;
                margin-right: 10px;
                &:focus{
                    border: 2px solid rgba($brown,.8);
                    outline: none;
                }
            }
        }
        #rankTable{
            @include tableStyle;
        }
        #paginationArea{
            // width: max-content;
            // margin: 0 auto;
            // position: absolute;
            // bottom: 10px;
            margin-top: 20px;
        }
    }
}