.bigModal{
    @include modalStyle;
    .modalWrap{
        .modalContent{

            // order-detail-modal
            .orderItem{
                font-size: 14pt;
                margin-bottom: 10px;
                border-radius: 10px;
                border: 1px solid $brown;
                padding: 25px;
                text-align: right;
        
        
                .orderItemTitle{
                    font-size: 18pt;
                    font-weight: 600;
                    margin-bottom: 10px;
                    text-align: left;
                }
                .orderItemSize{
                    float: left;
                }
        
                hr{
                    margin: 15px 0 10px 0;
                    background-color: $lightBrown;
                    height: 1px;
                    border: 0
                }
                .subTotal{
                    font-weight: 600;
                }
            }
        
            .oderTotal{
                margin-top: 20px;
                text-align: right;
                span{
                    font-size: 18pt;
                    font-weight: 600;
                    margin-right: 15px;
                }
                span:first-child{
                    margin-right: 25px;
                }
            }

            // xx-detail-modal
            .productDetailTable{
                @include detailTableStyle;
                th,td{
                    &:first-child{
                        width: 350px;
                    }
                    &:last-child{
                        width: 250px;
                    }
                    &:nth-child(2),&:last-child{
                        padding: 0 20px;
                    }
                }

                td{
                    &:nth-child(2),&:last-child{
                        text-align: left;
                    }
                }
            
            }
            .classDetailTable{
                @include detailTableStyle;
                th, td{
                    width: 500px;
                    &:last-child{
                        padding:0 50px 0 30px;
                    }
                }
                td{
                    &:last-child{
                        text-align: left;
                    }
                }
                tbody{
                    .detailImg{
                        width: 65%;
                    }
                }
                
            }

            //xx-create-and-edit-modal
            .bigModalForm{
               @include modalFormStyle;
               .formField{
                    .formGroup:last-child{
                        text-align: right;
                        button{
                            @include modalFormBtnStyle;
                            font-size:12pt;
                            width: 60px;
                            height: 35px;                    
                        }
                    }
               }
            }

        }
    }
}

.smallModal{
    @include modalStyle;
    .modalWrap{
        width: 650px;
        height: 500px;


        .smallModalForm{
            width: 500px;
            margin: 0 auto;
            font-size: 18pt;

            p,.formGroup{
                width: 320px;
                margin: 25px auto;
                input{
                    color: $brown;
                    width: 180px;
                    height: 35px;
                    font-size: 20px;
                    padding: 5px;
                    border: 1px solid $brown;
                    border-radius: 5px;
                    &[type="time"]::-webkit-calendar-picker-indicator,
                    &[type= "date"]::-webkit-calendar-picker-indicator{
                        filter: invert(27%) sepia(4%) saturate(3615%) hue-rotate(314deg) brightness(91%) contrast(82%);
                    } 
                }


                &:first-child{
                    margin-top: 45px;
                }
                &:last-child{
                    text-align: right;
                    button{
                        @include modalFormBtnStyle;
                        font-size:14pt;
                        width: 65px;
                        height: 38px;                    
                    }
                }
            }
        }
    }
}

.miniModal{
    @include modalStyle;
    .modalWrap{
        width: 400px;
        height: 380px;
        .miniModalForm{
            width: 300px;
            margin: 0 auto;
            font-size: 18pt;

            .formGroup{
                width: 207px;
                margin: 30px auto;
                p{
                    margin-bottom: 10px;
                }
                input{
                    text-align: right;
                    color: $brown;
                    width: 180px;
                    height: 35px;
                    font-size: 20px;
                    padding: 5px;
                    border: 1px solid $brown;
                    border-radius: 5px;
                   
                }
                &:first-child{
                    margin-top: 50px;
                }
                &:last-child{
                    text-align: center;
                    button{
                        @include modalFormBtnStyle;
                        font-size:14pt;
                        width: 65px;
                        height: 38px;                    
                    }
                }
            }
        }
    }
}