#productSearchArea{
    @include inputSearch;
    input{
        right: 30px;
    }
    i{
        position: absolute;
        right: 0;
        top: 7px;
        font-size: 15pt;
        color: $brown;
    }
    .fa-times{
        z-index: 1;
        right:2.5rem;
        font-size: 14pt;
        width: 25px;
        height: 25px;
        padding: 3px 6px;
        border-radius: 30px;
        visibility: hidden;
        &:hover{
            color: rgba($brown, 0.7);
            background-color: rgba($secondary, 0.3);
        }
    }
}
#productSortArea{
    margin-top: 45px;
    text-align: right;
    position: relative;
    #productEditArea{
        position: absolute;
        left: 0; 
        div{
            display: none;
        }   
    }
    select{
        @include selectStyle;
        margin: 20px 5px 0 0;
    }
    // .search{
    //     color: $brown;
    // }
    button{
        @include buttonStyle;
        margin: 10px 5px 0 0;
    }
}
.productList{
    @include tableStyle;
    th:first-child,td:first-child{
        line-height: 10pt;
        padding-left: 10px;
    }
    input[type="checkbox"]{
        transform: scale(1.5);
    }
    .productName{
        width: 200px;
    }
    .productPrice{
        width: 90px;
    }
    .btnStyle{
        @include btnStyle;
    }
}