#addCategoryArea{
    margin-top: 25px;
    color: $brown;
    h2{
        font-weight: normal;
        color: $brown;
        margin-bottom: 15px;
    }
    label{
        font-size: 14pt;
        input{
            color: $brown;
            border: 1px solid $brown;
            font-size: 14pt;
            height: 35px;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover{
                border-color: $secondary;
                background-color: rgba($lightBrown,.2);
            }
            &:focus{
                border: 2px solid rgba($secondary,.8);
                background-color: rgba($lightBrown,.2);
                outline: none;
            }
        }
    }
    button{
        @include buttonStyle;
    }
    .warningTxt{
        color: darkred;
    }
}
.categoryList{
    @include tableStyle;

    .btnStyle{
        @include btnStyle;
    }
    input{
        height: 30px;
        text-align: center;
    }

    tr{
        button:nth-child(2),
        button:nth-child(3){
            display: none;
        }
    }
   
}