$brown:#604545;
$lightBrown:#DCD6C6;
$secondary:#978484;
$gray:#707070;
@mixin tableStyle {
    width: 100%;
    text-align: center;
    margin: 10px auto;
    border-collapse: collapse;
    font-size: 14pt;
    tr{
        height: 55px;
        th,td{
            border-bottom: 5px solid white;
            border-top: 5px solid white;

        }
        th:first-child,td:first-child{
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
        th:last-child,td:last-child{
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;

        }
        input[type= "text" ], 
        input[type= "number" ],
        input[type= "date" ],
        input[type= "time" ]{
            border-radius: 5px;
            border: 1px solid $brown;
            font-size: 14pt;
            height: 35px;
            text-align: center;
            &:disabled{
                background-color: $lightBrown;
                border: 1px solid $secondary;
                color: $brown;
            }
        }
        select{
            height: 40px;
            border-radius: 5px;
            border: 1px solid $brown;
            font-size: 14pt;
            &:disabled{
                background-color: $lightBrown;
                border: 1px solid $secondary;
                color: $brown;
            }
        }
    }
    thead{
        background-color: $brown;
        color: white;

    }
    tbody{
        background-color: $lightBrown;
        color: $brown;
        .paymentStatus{
            color: $secondary;
        }
        input{
            color: $brown;
        }
    }
}
@mixin btnStyle {
    border: 1px solid $brown;
    border-radius: 20px;
    width: 70px;
    height: 35px;
    margin-left: 10px;
    font-size: 13pt;
    cursor: pointer;
    &:hover{
        background-color: $secondary;
        color: white;
    }
}
@mixin inputSearch {
    position: relative;
    input{
        position: absolute;
        right: 0;
        top: 0;
        color: $brown;
        height: 35px;
        font-size: 15pt;
        border: 1px solid $brown;
        border-radius: 5px;
        padding: 0 5px;
    }
}

@mixin selectStyle {
    font-size: 14pt;
    color:$brown;
    height: 35px;
    padding: 0 5px;
    border: 1px solid $brown;
    border-radius: 5px;
}

@mixin buttonStyle {
    color: $brown;
    background-color: white;
    border: 1px solid $brown;
    font-size: 14pt;
    height: 35px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
    
    i{
        margin: 0 5px
    }
    &:hover{
        background-color: $brown;
        color: white;
    }
}

@mixin modalStyle{
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0, 0, 0.5);
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    .modalWrap{
        width: 1000px;
        height: 600px;
        background-color: white;
        border-radius: 25px;
        color: $brown;
        box-shadow: 10px 10px 25px $gray;
        overflow: hidden;

        .modalClose{
            width: 40px;
            height: 40px;
            font-size: 35px;
            font-weight: bold;
            background-color: $brown;
            color: white;
            border-radius: 50px;
            text-align: center;
            margin: 25px 25px 0 0;
            float: right;
            cursor: pointer;
            &:hover{
                background-color: $secondary;
            }
        } 
        
        .modalContent{
            margin: 60px;
            #mainModalTitle{
                margin-bottom: 30px;
                font-size: 28pt;
                font-weight: bold;
            }

        }
    }
}


@mixin detailTableStyle {
    border-collapse: collapse;
    text-align: center;
    th,td{
        &:first-child{
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
        &:last-child{
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        border-bottom: 10px solid white;
        border-top: 10px solid white;
    }

    thead{
        background-color: $brown;
        color: white;
        height: 55px;
        font-size: 14pt;
    }
    tbody{
        background-color: $lightBrown;
        color: $brown;
        height: 350px;
        .detailImg{
            width: 80%;
            border: 1px solid $brown;
        }
    }
}

@mixin modalFormStyle{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:410px;
    grid-gap: 40px;


    #uploadArea{
        margin: 0 auto;
        width: 400px;
        height: 160px;
        background-color: $lightBrown;
        border: 1px solid $brown;
        text-align: center;
        padding: 45px 0;

        div{
            margin: 0 auto;
            text-align: center;
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: 40px;
            font-weight: bold;
            border-radius: 50px;
            color: white;
            background-color: $brown;
        }
    }
    #showImgArea{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        margin: 0 auto;
        width: 400px;
        .imgItem{
            position: relative;
            width: 110px;
            margin-top: 12px;
            &:not(:nth-child(3)){
                margin-right: 28px;
            }
            div{
                &:first-child{
                    position: absolute;
                    top: -8px;
                    right: -8px;  
                    text-align: center;
                    width: 18px;
                    height: 18px;
                    line-height: 18px;
                    border-radius: 50px;
                    font-size: 14pt;
                    font-weight: bold;
                    color: white;
                    background-color: $brown;
                    cursor: pointer;
                    &:hover{
                        background-color: $secondary;
                    }
                }
                &:last-child{
                    width: 110px;
                    img{
                        width: 100%
                    }
                }
            }
        }
    }

    .formField{
        font-size: 15pt;
        input,select{
            border: 1px solid $brown;
            width: 160px;
            height: 30px;
            font-size: 18px;
            color: $brown;
            padding: 5px;
            border-radius: 5px;
        }

        textarea{
            border: 1px solid $brown;
            font-size: 18px;
            color: $brown;
            padding: 5px;
            resize : none;
            border-radius: 5px;
        }

        .formGroup{
            margin-bottom: 10px;
        }

        .toggleSwitch{
            position: relative;
            display: inline-block;
            width: 60px;
            height: 25px;
            input{
                opacity: 0;
                width: 0;
                height: 0;
            }
            span{
                position: absolute;
                top: 0;
                bottom:0;
                left: 0;
                right: 0;
                background-color: rgba($brown, 0.3);
                border-radius: 35px;
                transition: .5s;

                &:before{
                    position: absolute;
                    top:-5px;
                    right: 0;
                    content: "";
                    width: 35px;
                    height: 35px;
                    background-color: $brown;
                    border-radius: 50%;
                    transition: .5s;
                    cursor: pointer;
                }

            }

            input:checked + span{
                background-color: $secondary;
            }
            input:checked + span:before{
                transform: translateX(-25px);
            }

        }

    }
}

@mixin modalFormBtnStyle{
    border: 1px solid $brown;
    border-radius: 10px;
    color: $brown;
    background-color: white;
    &:first-child{
        margin-right:5px;
    }
    &:hover{
        color: white;
        background-color: $brown;
        cursor: pointer;
    }
}


