@import './variable';
@import './navigation';
@import'./backendHomeInfo';
@import'./order';
@import'./productList';
@import'./productCategory';
@import'./classList';
@import'./classTimeList';
@import'./classReservation';
@import './modal';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// 最外層wrapper 主要區域wrapper和title
#container{
    width: 100%;
    
    display: inline-flex;
    #mainWrapper{
        width: 90%;
        margin: 10px 30px;
        #mainTitle{
            margin: 35px 0 10px 0;
            color: $brown;
            font-size: 28pt;
            font-weight: bold;
        }
    }
}

#paginationArea{
    position: absolute;
    bottom: 15px;
    left: 43%;
    right: 43%;
    font-size: 13pt;
    a{
        padding: 5px 8px;
        color: $brown;
        text-decoration: none;
        border-radius: 50px;
        transition: background-color .3s;  
    }

    .nonActivePage{
        &:hover{
            background-color: $lightBrown;
        }
    }

    .activePage{
        font-weight: bolder;
        pointer-events: none;
        cursor: default;
    }

    .preNextPage{
        background-color: $brown; 
        color: $lightBrown;
        margin: 0 3px; 
        &:hover{
            background-color:$secondary;
        }      
    }
}

::selection {
	background: rgba($lightBrown, .5);
	color: $brown;
}

