#navWrapper {
  width: 300px;
  height: 100vh;
  text-align: center;
  background-color: #604545;
  border-top-right-radius: 50px;
  padding-top: 10pt;
  font-size: 15.5pt;
}

#navWrapper i {
  padding-right: 10px;
}

#navWrapper #logo {
  width: 70%;
  margin: 25px 0;
}

#navWrapper #navContent {
  color: #DCD6C6;
  list-style: none;
  line-height: 35pt;
}

#navWrapper #navContent li {
  margin: 15px auto;
  padding: 3px 0px;
  cursor: pointer;
  width: 85%;
  margin-right: 0;
}

#navWrapper #navContent .navItem {
  list-style: none;
  color: #DCD6C6;
  text-decoration: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#navWrapper #navContent .navItem:hover {
  background-color: #978484;
  -webkit-transition: .3s;
  transition: .3s;
}

#navWrapper #navContent .navItem a {
  text-decoration: none;
  color: #DCD6C6;
  padding: 15px 0;
}

#navWrapper #navContent .sub1 {
  font-size: 14pt;
  list-style: none;
  display: none;
}

#navWrapper #navContent .navActive {
  background-color: #DCD6C6;
  color: #604545;
  font-weight: bolder;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

@-webkit-keyframes showSub {
  from {
    display: none;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    display: block;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes showSub {
  from {
    display: none;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    display: block;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#navWrapper #navContent .navActive:hover {
  background-color: #DCD6C6;
}

#navWrapper #navContent .navActive .sub1 {
  text-align: right;
  font-weight: normal;
  display: block;
  -webkit-animation: showSub 0.5s;
          animation: showSub 0.5s;
}

#navWrapper #navContent .navActive .sub1 li {
  width: 70%;
}

#navWrapper #navContent .navActive .sub1 li:hover {
  background-color: rgba(151, 132, 132, 0.3);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

#navWrapper #navContent .navActive .sub1 li a {
  padding-right: 40px;
}

#navWrapper #navContent .navActive .sub1 .subActive {
  padding-left: 5px;
  border-right: 5px solid #604545;
  font-weight: bolder;
}

#navWrapper #navContent .navActive a {
  color: #604545;
}

#capsulesArea {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#capsulesArea .capsule {
  text-align: center;
  border: 1px solid #707070;
  border-radius: 50px;
  margin: 0 35px 15px 0;
  padding: 0 20px 5px 20px;
  height: 90px;
  width: 310px;
  line-height: 30pt;
  position: relative;
  -webkit-box-shadow: 3px 3px 8px #978484;
          box-shadow: 3px 3px 8px #978484;
}

#capsulesArea .capsule .title {
  font-size: 10pt;
  color: #604545;
  margin-left: 50px;
}

#capsulesArea .capsule .dataNum {
  font-size: 33pt;
  font-weight: 500;
  color: #604545;
  margin-left: 60px;
}

#capsulesArea .capsule .dataNum .hideData {
  display: none;
}

#capsulesArea .capsule .unit {
  color: #604545;
  font-size: 10pt;
  margin-left: 3px;
}

#capsulesArea .capsule .icon {
  position: absolute;
  color: #DCD6C6;
  width: 50px;
  height: 50px;
  left: 20px;
  top: 24%;
  border-radius: 50px;
  background-color: #604545;
  font-size: 22pt;
  line-height: 25pt;
  padding-top: 6px;
}

#capsulesArea .capsule .upIcon {
  color: #90d571;
  font-size: 14pt;
  position: absolute;
  left: 85px;
  bottom: 14%;
}

#capsulesArea .capsule .downIcon {
  color: #F5B5BF;
  font-size: 14pt;
  position: absolute;
  left: 85px;
  bottom: 14%;
  display: none;
}

#capsulesArea .capsule .editPerformance {
  position: absolute;
  top: 13px;
  right: 27px;
  font-size: 10pt;
  color: #604545;
  cursor: pointer;
}

#capsulesArea .capsule .editPerformance:hover {
  color: #978484;
}

#tabWrapper {
  margin-top: 15px;
}

#tabWrapper #tabs {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  margin-left: 20px;
}

#tabWrapper #tabs .tabItem {
  text-align: center;
  font-size: 16pt;
  width: 130px;
  padding: 11px 20px;
  background-color: white;
  border: 1px solid #707070;
  border-bottom: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #DCD6C6;
}

#tabWrapper #tabs .tabItem a {
  color: #604545;
  text-decoration: none;
}

#tabWrapper #tabs .tabActive {
  background-color: white;
  border-bottom: white;
  font-weight: bolder;
  position: relative;
}

#tabWrapper #tabs .tabActive:after {
  content: '';
  position: absolute;
  width: 129px;
  height: 2px;
  background: white;
  bottom: -1px;
  left: 0;
}

#tabWrapper #salesInfo {
  border: 1px solid #707070;
  border-top-right-radius: 15px;
  margin: 0 20px;
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 425px;
}

#tabWrapper #salesInfo #leftArea {
  padding-left: 20px;
  line-height: 60pt;
}

#tabWrapper #salesInfo #leftArea select {
  color: #604545;
  font-size: 16pt;
  height: 40px;
  padding: 0 5px;
  border: 1px solid #604545;
  border-radius: 5px;
  margin-right: 10px;
}

#tabWrapper #salesInfo #leftArea p {
  color: #604545;
  font-size: 18pt;
  margin-bottom: 10px;
}

#tabWrapper #salesInfo #leftArea #sales {
  margin-left: 45px;
  font-size: 60pt;
  color: #604545;
  font-weight: bolder;
}

#tabWrapper #salesInfo #leftArea span {
  text-align: right;
  font-size: 16pt;
  color: #604545;
}

#tabWrapper #salesInfo #rightArea {
  padding-right: 20px;
  margin-bottom: 10px;
}

#tabWrapper #rankInfo {
  display: none;
  border: 1px solid #707070;
  border-top-right-radius: 15px;
  margin: 0 20px;
  padding: 0 20px;
  padding-top: 35px;
  height: 425px;
  position: relative;
}

#tabWrapper #rankInfo .selectArea {
  text-align: right;
  margin-bottom: 5px;
}

#tabWrapper #rankInfo .selectArea select {
  color: #604545;
  font-size: 16pt;
  height: 40px;
  padding: 0 5px;
  border: 1px solid #604545;
  border-radius: 5px;
  margin-right: 10px;
}

#tabWrapper #rankInfo #rankTable {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  border-collapse: collapse;
  font-size: 14pt;
}

#tabWrapper #rankInfo #rankTable tr {
  height: 55px;
}

#tabWrapper #rankInfo #rankTable tr th, #tabWrapper #rankInfo #rankTable tr td {
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}

#tabWrapper #rankInfo #rankTable tr th:first-child, #tabWrapper #rankInfo #rankTable tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#tabWrapper #rankInfo #rankTable tr th:last-child, #tabWrapper #rankInfo #rankTable tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#tabWrapper #rankInfo #rankTable tr input[type="text"],
#tabWrapper #rankInfo #rankTable tr input[type="number"],
#tabWrapper #rankInfo #rankTable tr input[type="date"],
#tabWrapper #rankInfo #rankTable tr input[type="time"] {
  border-radius: 5px;
  border: 1px solid #604545;
  font-size: 14pt;
  height: 35px;
  text-align: center;
}

#tabWrapper #rankInfo #rankTable tr input[type="text"]:disabled,
#tabWrapper #rankInfo #rankTable tr input[type="number"]:disabled,
#tabWrapper #rankInfo #rankTable tr input[type="date"]:disabled,
#tabWrapper #rankInfo #rankTable tr input[type="time"]:disabled {
  background-color: #DCD6C6;
  border: 1px solid #978484;
  color: #604545;
}

#tabWrapper #rankInfo #rankTable tr select {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #604545;
  font-size: 14pt;
}

#tabWrapper #rankInfo #rankTable tr select:disabled {
  background-color: #DCD6C6;
  border: 1px solid #978484;
  color: #604545;
}

#tabWrapper #rankInfo #rankTable thead {
  background-color: #604545;
  color: white;
}

#tabWrapper #rankInfo #rankTable tbody {
  background-color: #DCD6C6;
  color: #604545;
}

#tabWrapper #rankInfo #rankTable tbody .paymentStatus {
  color: #978484;
}

#tabWrapper #rankInfo #rankTable tbody input {
  color: #604545;
}

#orderWrapper {
  margin-top: 20px;
}

#orderWrapper #buttonWrapper {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-bottom: 35px;
}

#orderWrapper #buttonWrapper .tabButton {
  line-height: 45pt;
  font-size: 18pt;
  width: 33.3%;
  height: 70px;
  line-height: 70px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 2px #DCD6C6;
          box-shadow: 0 5px 2px #DCD6C6;
  cursor: pointer;
}

#orderWrapper #buttonWrapper .tabButton a {
  color: #604545;
  text-decoration: none;
}

#orderWrapper #buttonWrapper .tabButton:hover {
  background-color: rgba(220, 214, 198, 0.3);
}

#orderWrapper #buttonWrapper .tabBtnActive {
  -webkit-box-shadow: 0 5px 2px #604545;
          box-shadow: 0 5px 2px #604545;
  font-weight: bold;
  pointer-events: none;
}

#orderWrapper #orderArea .orderList {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  border-collapse: collapse;
  font-size: 14pt;
}

#orderWrapper #orderArea .orderList tr {
  height: 55px;
}

#orderWrapper #orderArea .orderList tr th, #orderWrapper #orderArea .orderList tr td {
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}

#orderWrapper #orderArea .orderList tr th:first-child, #orderWrapper #orderArea .orderList tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#orderWrapper #orderArea .orderList tr th:last-child, #orderWrapper #orderArea .orderList tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#orderWrapper #orderArea .orderList tr input[type="text"],
#orderWrapper #orderArea .orderList tr input[type="number"],
#orderWrapper #orderArea .orderList tr input[type="date"],
#orderWrapper #orderArea .orderList tr input[type="time"] {
  border-radius: 5px;
  border: 1px solid #604545;
  font-size: 14pt;
  height: 35px;
  text-align: center;
}

#orderWrapper #orderArea .orderList tr input[type="text"]:disabled,
#orderWrapper #orderArea .orderList tr input[type="number"]:disabled,
#orderWrapper #orderArea .orderList tr input[type="date"]:disabled,
#orderWrapper #orderArea .orderList tr input[type="time"]:disabled {
  background-color: #DCD6C6;
  border: 1px solid #978484;
  color: #604545;
}

#orderWrapper #orderArea .orderList tr select {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #604545;
  font-size: 14pt;
}

#orderWrapper #orderArea .orderList tr select:disabled {
  background-color: #DCD6C6;
  border: 1px solid #978484;
  color: #604545;
}

#orderWrapper #orderArea .orderList thead {
  background-color: #604545;
  color: white;
}

#orderWrapper #orderArea .orderList tbody {
  background-color: #DCD6C6;
  color: #604545;
}

#orderWrapper #orderArea .orderList tbody .paymentStatus {
  color: #978484;
}

#orderWrapper #orderArea .orderList tbody input {
  color: #604545;
}

#orderWrapper #orderArea .orderList tr {
  cursor: pointer;
}

#orderWrapper #orderArea .orderList .btnStyle {
  border: 1px solid #604545;
  border-radius: 20px;
  width: 70px;
  height: 35px;
  margin-left: 10px;
  font-size: 13pt;
  cursor: pointer;
}

#orderWrapper #orderArea .orderList .btnStyle:hover {
  background-color: #978484;
  color: white;
}

#orderWrapper #orderArea #unCheckList {
  padding-top: 10px;
  text-align: right;
}

#orderWrapper #orderArea #notClaimed {
  display: none;
  padding-top: 10px;
  text-align: right;
}

#orderWrapper #orderArea label {
  font-size: 14pt;
  color: #604545;
}

#orderWrapper #orderArea label input {
  font-size: 15pt;
  height: 35px;
  border: 1px solid #604545;
  border-radius: 5px;
  padding: 0 5px;
}

#orderWrapper #orderArea #claimed {
  display: none;
}

#orderWrapper #orderArea #claimed .orderList {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  border-collapse: collapse;
  font-size: 14pt;
}

#orderWrapper #orderArea #claimed .orderList tr {
  height: 55px;
}

#orderWrapper #orderArea #claimed .orderList tr th, #orderWrapper #orderArea #claimed .orderList tr td {
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}

#orderWrapper #orderArea #claimed .orderList tr th:first-child, #orderWrapper #orderArea #claimed .orderList tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#orderWrapper #orderArea #claimed .orderList tr th:last-child, #orderWrapper #orderArea #claimed .orderList tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#orderWrapper #orderArea #claimed .orderList tr input[type="text"],
#orderWrapper #orderArea #claimed .orderList tr input[type="number"],
#orderWrapper #orderArea #claimed .orderList tr input[type="date"],
#orderWrapper #orderArea #claimed .orderList tr input[type="time"] {
  border-radius: 5px;
  border: 1px solid #604545;
  font-size: 14pt;
  height: 35px;
  text-align: center;
}

#orderWrapper #orderArea #claimed .orderList tr input[type="text"]:disabled,
#orderWrapper #orderArea #claimed .orderList tr input[type="number"]:disabled,
#orderWrapper #orderArea #claimed .orderList tr input[type="date"]:disabled,
#orderWrapper #orderArea #claimed .orderList tr input[type="time"]:disabled {
  background-color: #DCD6C6;
  border: 1px solid #978484;
  color: #604545;
}

#orderWrapper #orderArea #claimed .orderList tr select {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #604545;
  font-size: 14pt;
}

#orderWrapper #orderArea #claimed .orderList tr select:disabled {
  background-color: #DCD6C6;
  border: 1px solid #978484;
  color: #604545;
}

#orderWrapper #orderArea #claimed .orderList thead {
  background-color: #604545;
  color: white;
}

#orderWrapper #orderArea #claimed .orderList tbody {
  background-color: #DCD6C6;
  color: #604545;
}

#orderWrapper #orderArea #claimed .orderList tbody .paymentStatus {
  color: #978484;
}

#orderWrapper #orderArea #claimed .orderList tbody input {
  color: #604545;
}

#productSearchArea {
  position: relative;
}

#productSearchArea input {
  position: absolute;
  right: 0;
  top: 0;
  color: #604545;
  height: 35px;
  font-size: 15pt;
  border: 1px solid #604545;
  border-radius: 5px;
  padding: 0 5px;
}

#productSearchArea input {
  right: 30px;
}

#productSearchArea i {
  position: absolute;
  right: 0;
  top: 7px;
  font-size: 15pt;
  color: #604545;
}

#productSortArea {
  margin-top: 45px;
  text-align: right;
  position: relative;
}

#productSortArea #productEditArea {
  position: absolute;
  left: 0;
}

#productSortArea #productEditArea div {
  display: none;
}

#productSortArea select {
  font-size: 14pt;
  color: #604545;
  height: 35px;
  padding: 0 5px;
  border: 1px solid #604545;
  border-radius: 5px;
  margin: 10px 5px 0 0;
}

#productSortArea button {
  color: #604545;
  background-color: white;
  border: 1px solid #604545;
  font-size: 14pt;
  height: 35px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  margin: 10px 5px 0 0;
}

#productSortArea button i {
  margin: 0 5px;
}

#productSortArea button:hover {
  background-color: #604545;
  color: white;
}

.productList {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  border-collapse: collapse;
  font-size: 14pt;
}

.productList tr {
  height: 55px;
}

.productList tr th, .productList tr td {
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}

.productList tr th:first-child, .productList tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.productList tr th:last-child, .productList tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.productList tr input[type="text"],
.productList tr input[type="number"],
.productList tr input[type="date"],
.productList tr input[type="time"] {
  border-radius: 5px;
  border: 1px solid #604545;
  font-size: 14pt;
  height: 35px;
  text-align: center;
}

.productList tr input[type="text"]:disabled,
.productList tr input[type="number"]:disabled,
.productList tr input[type="date"]:disabled,
.productList tr input[type="time"]:disabled {
  background-color: #DCD6C6;
  border: 1px solid #978484;
  color: #604545;
}

.productList tr select {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #604545;
  font-size: 14pt;
}

.productList tr select:disabled {
  background-color: #DCD6C6;
  border: 1px solid #978484;
  color: #604545;
}

.productList thead {
  background-color: #604545;
  color: white;
}

.productList tbody {
  background-color: #DCD6C6;
  color: #604545;
}

.productList tbody .paymentStatus {
  color: #978484;
}

.productList tbody input {
  color: #604545;
}

.productList th:first-child, .productList td:first-child {
  line-height: 10pt;
  padding-left: 10px;
}

.productList input[type="checkbox"] {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.productList .productName {
  width: 200px;
}

.productList .productPrice {
  width: 90px;
}

.productList .btnStyle {
  border: 1px solid #604545;
  border-radius: 20px;
  width: 70px;
  height: 35px;
  margin-left: 10px;
  font-size: 13pt;
  cursor: pointer;
}

.productList .btnStyle:hover {
  background-color: #978484;
  color: white;
}

#addCategoryArea {
  margin-top: 25px;
  color: #604545;
}

#addCategoryArea h2 {
  font-weight: normal;
  color: #604545;
  margin-bottom: 15px;
}

#addCategoryArea label {
  font-size: 14pt;
}

#addCategoryArea label input {
  color: #604545;
  border: 1px solid #604545;
  font-size: 14pt;
  height: 35px;
  padding: 5px 10px;
  border-radius: 5px;
}

#addCategoryArea button {
  color: #604545;
  background-color: white;
  border: 1px solid #604545;
  font-size: 14pt;
  height: 35px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

#addCategoryArea button i {
  margin: 0 5px;
}

#addCategoryArea button:hover {
  background-color: #604545;
  color: white;
}

#addCategoryArea .warningTxt {
  color: darkred;
}

.categoryList {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  border-collapse: collapse;
  font-size: 14pt;
}

.categoryList tr {
  height: 55px;
}

.categoryList tr th, .categoryList tr td {
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}

.categoryList tr th:first-child, .categoryList tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.categoryList tr th:last-child, .categoryList tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.categoryList tr input[type="text"],
.categoryList tr input[type="number"],
.categoryList tr input[type="date"],
.categoryList tr input[type="time"] {
  border-radius: 5px;
  border: 1px solid #604545;
  font-size: 14pt;
  height: 35px;
  text-align: center;
}

.categoryList tr input[type="text"]:disabled,
.categoryList tr input[type="number"]:disabled,
.categoryList tr input[type="date"]:disabled,
.categoryList tr input[type="time"]:disabled {
  background-color: #DCD6C6;
  border: 1px solid #978484;
  color: #604545;
}

.categoryList tr select {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #604545;
  font-size: 14pt;
}

.categoryList tr select:disabled {
  background-color: #DCD6C6;
  border: 1px solid #978484;
  color: #604545;
}

.categoryList thead {
  background-color: #604545;
  color: white;
}

.categoryList tbody {
  background-color: #DCD6C6;
  color: #604545;
}

.categoryList tbody .paymentStatus {
  color: #978484;
}

.categoryList tbody input {
  color: #604545;
}

.categoryList .btnStyle {
  border: 1px solid #604545;
  border-radius: 20px;
  width: 70px;
  height: 35px;
  margin-left: 10px;
  font-size: 13pt;
  cursor: pointer;
}

.categoryList .btnStyle:hover {
  background-color: #978484;
  color: white;
}

.categoryList input {
  height: 30px;
  text-align: center;
}

.categoryList tr button:nth-child(2),
.categoryList tr button:nth-child(3) {
  display: none;
}

#mainWrapper {
  position: relative;
}

.classSearchArea {
  position: relative;
  margin-bottom: 45px;
}

.classSearchArea input {
  position: absolute;
  right: 0;
  top: 0;
  color: #604545;
  height: 35px;
  font-size: 15pt;
  border: 1px solid #604545;
  border-radius: 5px;
  padding: 0 5px;
}

.classSearchArea input {
  right: 30px;
}

.classSearchArea i {
  position: absolute;
  right: 0;
  top: 7px;
  font-size: 15pt;
  color: #604545;
}

.newClass {
  color: #604545;
  background-color: white;
  border: 1px solid #604545;
  font-size: 14pt;
  height: 35px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  float: right;
  margin: 10px 5px 0 0;
}

.newClass i {
  margin: 0 5px;
}

.newClass:hover {
  background-color: #604545;
  color: white;
}

.classList {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  border-collapse: collapse;
  font-size: 14pt;
}

.classList tr {
  height: 55px;
}

.classList tr th, .classList tr td {
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}

.classList tr th:first-child, .classList tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.classList tr th:last-child, .classList tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.classList tr input[type="text"],
.classList tr input[type="number"],
.classList tr input[type="date"],
.classList tr input[type="time"] {
  border-radius: 5px;
  border: 1px solid #604545;
  font-size: 14pt;
  height: 35px;
  text-align: center;
}

.classList tr input[type="text"]:disabled,
.classList tr input[type="number"]:disabled,
.classList tr input[type="date"]:disabled,
.classList tr input[type="time"]:disabled {
  background-color: #DCD6C6;
  border: 1px solid #978484;
  color: #604545;
}

.classList tr select {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #604545;
  font-size: 14pt;
}

.classList tr select:disabled {
  background-color: #DCD6C6;
  border: 1px solid #978484;
  color: #604545;
}

.classList thead {
  background-color: #604545;
  color: white;
}

.classList tbody {
  background-color: #DCD6C6;
  color: #604545;
}

.classList tbody .paymentStatus {
  color: #978484;
}

.classList tbody input {
  color: #604545;
}

.classList th:nth-of-type(4) {
  width: 100px;
}

.classList .className {
  width: 200px;
}

.classList .classPrice {
  width: 90px;
}

.classList .classDuration {
  width: 60px;
}

.classList .btnStyle {
  border: 1px solid #604545;
  border-radius: 20px;
  width: 70px;
  height: 35px;
  margin-left: 10px;
  font-size: 13pt;
  cursor: pointer;
}

.classList .btnStyle:hover {
  background-color: #978484;
  color: white;
}

#mainWrapper {
  position: relative;
}

.classTimeSearchArea {
  position: relative;
  margin-bottom: 45px;
}

.classTimeSearchArea input {
  position: absolute;
  right: 0;
  top: 0;
  color: #604545;
  height: 35px;
  font-size: 15pt;
  border: 1px solid #604545;
  border-radius: 5px;
  padding: 0 5px;
}

.classTimeSearchArea input {
  right: 30px;
}

.classTimeSearchArea i {
  position: absolute;
  right: 0;
  top: 7px;
  font-size: 15pt;
  color: #604545;
}

#classTimeEditArea {
  position: absolute;
  left: 0;
  top: 125px;
}

#classTimeEditArea button {
  color: #604545;
  background-color: white;
  border: 1px solid #604545;
  font-size: 14pt;
  height: 35px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  margin: 10px 5px 0 0;
}

#classTimeEditArea button i {
  margin: 0 5px;
}

#classTimeEditArea button:hover {
  background-color: #604545;
  color: white;
}

#classTimeEditArea #classTimeEdit {
  display: none;
}

.newClassTime {
  color: #604545;
  background-color: white;
  border: 1px solid #604545;
  font-size: 14pt;
  height: 35px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  margin: 10px 5px 0 0;
  float: right;
}

.newClassTime i {
  margin: 0 5px;
}

.newClassTime:hover {
  background-color: #604545;
  color: white;
}

.classTimeList {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  border-collapse: collapse;
  font-size: 14pt;
}

.classTimeList tr {
  height: 55px;
}

.classTimeList tr th, .classTimeList tr td {
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}

.classTimeList tr th:first-child, .classTimeList tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.classTimeList tr th:last-child, .classTimeList tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.classTimeList tr input[type="text"],
.classTimeList tr input[type="number"],
.classTimeList tr input[type="date"],
.classTimeList tr input[type="time"] {
  border-radius: 5px;
  border: 1px solid #604545;
  font-size: 14pt;
  height: 35px;
  text-align: center;
}

.classTimeList tr input[type="text"]:disabled,
.classTimeList tr input[type="number"]:disabled,
.classTimeList tr input[type="date"]:disabled,
.classTimeList tr input[type="time"]:disabled {
  background-color: #DCD6C6;
  border: 1px solid #978484;
  color: #604545;
}

.classTimeList tr select {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #604545;
  font-size: 14pt;
}

.classTimeList tr select:disabled {
  background-color: #DCD6C6;
  border: 1px solid #978484;
  color: #604545;
}

.classTimeList thead {
  background-color: #604545;
  color: white;
}

.classTimeList tbody {
  background-color: #DCD6C6;
  color: #604545;
}

.classTimeList tbody .paymentStatus {
  color: #978484;
}

.classTimeList tbody input {
  color: #604545;
}

.classTimeList tbody tr {
  height: 80px;
  padding: 5px 0;
}

.classTimeList tbody td:nth-of-type(3) {
  width: 250px;
}

.classTimeList input {
  margin: 5px 0;
}

.classTimeList .totalPeople {
  width: 60px;
}

.classTimeList .btnStyle {
  border: 1px solid #604545;
  border-radius: 20px;
  width: 70px;
  height: 35px;
  margin-left: 10px;
  font-size: 13pt;
  cursor: pointer;
}

.classTimeList .btnStyle:hover {
  background-color: #978484;
  color: white;
}

.classReservationSearchArea {
  position: relative;
  margin-bottom: 45px;
}

.classReservationSearchArea input {
  position: absolute;
  right: 0;
  top: 0;
  color: #604545;
  height: 35px;
  font-size: 15pt;
  border: 1px solid #604545;
  border-radius: 5px;
  padding: 0 5px;
}

.classReservationSearchArea input {
  right: 30px;
}

.classReservationSearchArea i {
  position: absolute;
  right: 0;
  top: 7px;
  font-size: 15pt;
  color: #604545;
}

.classReservationList {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  margin: 10px auto;
  border-collapse: collapse;
  font-size: 14pt;
}

.classReservationList tr {
  height: 55px;
}

.classReservationList tr th, .classReservationList tr td {
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}

.classReservationList tr th:first-child, .classReservationList tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.classReservationList tr th:last-child, .classReservationList tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.classReservationList tr input[type="text"],
.classReservationList tr input[type="number"],
.classReservationList tr input[type="date"],
.classReservationList tr input[type="time"] {
  border-radius: 5px;
  border: 1px solid #604545;
  font-size: 14pt;
  height: 35px;
  text-align: center;
}

.classReservationList tr input[type="text"]:disabled,
.classReservationList tr input[type="number"]:disabled,
.classReservationList tr input[type="date"]:disabled,
.classReservationList tr input[type="time"]:disabled {
  background-color: #DCD6C6;
  border: 1px solid #978484;
  color: #604545;
}

.classReservationList tr select {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #604545;
  font-size: 14pt;
}

.classReservationList tr select:disabled {
  background-color: #DCD6C6;
  border: 1px solid #978484;
  color: #604545;
}

.classReservationList thead {
  background-color: #604545;
  color: white;
}

.classReservationList tbody {
  background-color: #DCD6C6;
  color: #604545;
}

.classReservationList tbody .paymentStatus {
  color: #978484;
}

.classReservationList tbody input {
  color: #604545;
}

.classReservationList tbody tr {
  height: 80px;
}

.classReservationList tbody tr td:nth-child(3) {
  width: 100px;
}

.classReservationList .btnStyle {
  border: 1px solid #604545;
  border-radius: 20px;
  width: 70px;
  height: 35px;
  margin-left: 10px;
  font-size: 13pt;
  cursor: pointer;
  width: 100px;
}

.classReservationList .btnStyle:hover {
  background-color: #978484;
  color: white;
}

.bigModal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bigModal .modalWrap {
  width: 1000px;
  height: 600px;
  background-color: white;
  border-radius: 25px;
  color: #604545;
  -webkit-box-shadow: 10px 10px 25px #707070;
          box-shadow: 10px 10px 25px #707070;
  overflow: hidden;
}

.bigModal .modalWrap .modalClose {
  width: 40px;
  height: 40px;
  font-size: 35px;
  font-weight: bold;
  background-color: #604545;
  color: white;
  border-radius: 50px;
  text-align: center;
  margin: 25px 25px 0 0;
  float: right;
  cursor: pointer;
}

.bigModal .modalWrap .modalClose:hover {
  background-color: #978484;
}

.bigModal .modalWrap .modalContent {
  margin: 60px;
}

.bigModal .modalWrap .modalContent #mainModalTitle {
  margin-bottom: 30px;
  font-size: 28pt;
  font-weight: bold;
}

.bigModal .modalWrap .modalContent .orderItem {
  font-size: 14pt;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #604545;
  padding: 25px;
  text-align: right;
}

.bigModal .modalWrap .modalContent .orderItem .orderItemTitle {
  font-size: 18pt;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: left;
}

.bigModal .modalWrap .modalContent .orderItem .orderItemSize {
  float: left;
}

.bigModal .modalWrap .modalContent .orderItem hr {
  margin: 15px 0 10px 0;
  background-color: #DCD6C6;
  height: 1px;
  border: 0;
}

.bigModal .modalWrap .modalContent .orderItem .subTotal {
  font-weight: 600;
}

.bigModal .modalWrap .modalContent .oderTotal {
  margin-top: 20px;
  text-align: right;
}

.bigModal .modalWrap .modalContent .oderTotal span {
  font-size: 18pt;
  font-weight: 600;
  margin-right: 15px;
}

.bigModal .modalWrap .modalContent .oderTotal span:first-child {
  margin-right: 25px;
}

.bigModal .modalWrap .modalContent .productDetailTable {
  border-collapse: collapse;
  text-align: center;
}

.bigModal .modalWrap .modalContent .productDetailTable th, .bigModal .modalWrap .modalContent .productDetailTable td {
  border-bottom: 10px solid white;
  border-top: 10px solid white;
}

.bigModal .modalWrap .modalContent .productDetailTable th:first-child, .bigModal .modalWrap .modalContent .productDetailTable td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.bigModal .modalWrap .modalContent .productDetailTable th:last-child, .bigModal .modalWrap .modalContent .productDetailTable td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bigModal .modalWrap .modalContent .productDetailTable thead {
  background-color: #604545;
  color: white;
  height: 55px;
  font-size: 14pt;
}

.bigModal .modalWrap .modalContent .productDetailTable tbody {
  background-color: #DCD6C6;
  color: #604545;
  height: 350px;
}

.bigModal .modalWrap .modalContent .productDetailTable tbody .detailImg {
  width: 80%;
  border: 1px solid #604545;
}

.bigModal .modalWrap .modalContent .productDetailTable th:first-child, .bigModal .modalWrap .modalContent .productDetailTable td:first-child {
  width: 350px;
}

.bigModal .modalWrap .modalContent .productDetailTable th:last-child, .bigModal .modalWrap .modalContent .productDetailTable td:last-child {
  width: 250px;
}

.bigModal .modalWrap .modalContent .productDetailTable th:nth-child(2), .bigModal .modalWrap .modalContent .productDetailTable th:last-child, .bigModal .modalWrap .modalContent .productDetailTable td:nth-child(2), .bigModal .modalWrap .modalContent .productDetailTable td:last-child {
  padding: 0 20px;
}

.bigModal .modalWrap .modalContent .productDetailTable td:nth-child(2), .bigModal .modalWrap .modalContent .productDetailTable td:last-child {
  text-align: left;
}

.bigModal .modalWrap .modalContent .classDetailTable {
  border-collapse: collapse;
  text-align: center;
}

.bigModal .modalWrap .modalContent .classDetailTable th, .bigModal .modalWrap .modalContent .classDetailTable td {
  border-bottom: 10px solid white;
  border-top: 10px solid white;
}

.bigModal .modalWrap .modalContent .classDetailTable th:first-child, .bigModal .modalWrap .modalContent .classDetailTable td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.bigModal .modalWrap .modalContent .classDetailTable th:last-child, .bigModal .modalWrap .modalContent .classDetailTable td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bigModal .modalWrap .modalContent .classDetailTable thead {
  background-color: #604545;
  color: white;
  height: 55px;
  font-size: 14pt;
}

.bigModal .modalWrap .modalContent .classDetailTable tbody {
  background-color: #DCD6C6;
  color: #604545;
  height: 350px;
}

.bigModal .modalWrap .modalContent .classDetailTable tbody .detailImg {
  width: 80%;
  border: 1px solid #604545;
}

.bigModal .modalWrap .modalContent .classDetailTable th, .bigModal .modalWrap .modalContent .classDetailTable td {
  width: 500px;
}

.bigModal .modalWrap .modalContent .classDetailTable th:last-child, .bigModal .modalWrap .modalContent .classDetailTable td:last-child {
  padding: 0 50px 0 30px;
}

.bigModal .modalWrap .modalContent .classDetailTable td:last-child {
  text-align: left;
}

.bigModal .modalWrap .modalContent .classDetailTable tbody .detailImg {
  width: 65%;
}

.bigModal .modalWrap .modalContent .bigModalForm {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 410px;
      grid-template-rows: 410px;
  grid-gap: 40px;
}

.bigModal .modalWrap .modalContent .bigModalForm #uploadArea {
  margin: 0 auto;
  width: 400px;
  height: 160px;
  background-color: #DCD6C6;
  border: 1px solid #604545;
  text-align: center;
  padding: 45px 0;
}

.bigModal .modalWrap .modalContent .bigModalForm #uploadArea div {
  margin: 0 auto;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 40px;
  font-weight: bold;
  border-radius: 50px;
  color: white;
  background-color: #604545;
}

.bigModal .modalWrap .modalContent .bigModalForm #showImgArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: 400px;
}

.bigModal .modalWrap .modalContent .bigModalForm #showImgArea .imgItem {
  position: relative;
  width: 110px;
  margin-top: 12px;
}

.bigModal .modalWrap .modalContent .bigModalForm #showImgArea .imgItem:not(:nth-child(3)) {
  margin-right: 28px;
}

.bigModal .modalWrap .modalContent .bigModalForm #showImgArea .imgItem div:first-child {
  position: absolute;
  top: -8px;
  right: -8px;
  text-align: center;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50px;
  font-size: 14pt;
  font-weight: bold;
  color: white;
  background-color: #604545;
  cursor: pointer;
}

.bigModal .modalWrap .modalContent .bigModalForm #showImgArea .imgItem div:first-child:hover {
  background-color: #978484;
}

.bigModal .modalWrap .modalContent .bigModalForm #showImgArea .imgItem div:last-child {
  width: 110px;
}

.bigModal .modalWrap .modalContent .bigModalForm #showImgArea .imgItem div:last-child img {
  width: 100%;
}

.bigModal .modalWrap .modalContent .bigModalForm .formField {
  font-size: 15pt;
}

.bigModal .modalWrap .modalContent .bigModalForm .formField input, .bigModal .modalWrap .modalContent .bigModalForm .formField select {
  border: 1px solid #604545;
  width: 160px;
  height: 30px;
  font-size: 18px;
  color: #604545;
  padding: 5px;
  border-radius: 5px;
}

.bigModal .modalWrap .modalContent .bigModalForm .formField textarea {
  border: 1px solid #604545;
  font-size: 18px;
  color: #604545;
  padding: 5px;
  resize: none;
  border-radius: 5px;
}

.bigModal .modalWrap .modalContent .bigModalForm .formField .formGroup {
  margin-bottom: 10px;
}

.bigModal .modalWrap .modalContent .bigModalForm .formField .toggleSwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.bigModal .modalWrap .modalContent .bigModalForm .formField .toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.bigModal .modalWrap .modalContent .bigModalForm .formField .toggleSwitch span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(96, 69, 69, 0.3);
  border-radius: 35px;
  -webkit-transition: .5s;
  transition: .5s;
}

.bigModal .modalWrap .modalContent .bigModalForm .formField .toggleSwitch span:before {
  position: absolute;
  top: -5px;
  right: 0;
  content: "";
  width: 35px;
  height: 35px;
  background-color: #604545;
  border-radius: 50%;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.bigModal .modalWrap .modalContent .bigModalForm .formField .toggleSwitch input:checked + span {
  background-color: #978484;
}

.bigModal .modalWrap .modalContent .bigModalForm .formField .toggleSwitch input:checked + span:before {
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
}

.bigModal .modalWrap .modalContent .bigModalForm .formField .formGroup:last-child {
  text-align: right;
}

.bigModal .modalWrap .modalContent .bigModalForm .formField .formGroup:last-child button {
  border: 1px solid #604545;
  border-radius: 10px;
  color: #604545;
  background-color: white;
  font-size: 12pt;
  width: 60px;
  height: 35px;
}

.bigModal .modalWrap .modalContent .bigModalForm .formField .formGroup:last-child button:first-child {
  margin-right: 5px;
}

.bigModal .modalWrap .modalContent .bigModalForm .formField .formGroup:last-child button:hover {
  color: white;
  background-color: #604545;
  cursor: pointer;
}

.smallModal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smallModal .modalWrap {
  width: 1000px;
  height: 600px;
  background-color: white;
  border-radius: 25px;
  color: #604545;
  -webkit-box-shadow: 10px 10px 25px #707070;
          box-shadow: 10px 10px 25px #707070;
  overflow: hidden;
}

.smallModal .modalWrap .modalClose {
  width: 40px;
  height: 40px;
  font-size: 35px;
  font-weight: bold;
  background-color: #604545;
  color: white;
  border-radius: 50px;
  text-align: center;
  margin: 25px 25px 0 0;
  float: right;
  cursor: pointer;
}

.smallModal .modalWrap .modalClose:hover {
  background-color: #978484;
}

.smallModal .modalWrap .modalContent {
  margin: 60px;
}

.smallModal .modalWrap .modalContent #mainModalTitle {
  margin-bottom: 30px;
  font-size: 28pt;
  font-weight: bold;
}

.smallModal .modalWrap {
  width: 650px;
  height: 500px;
}

.smallModal .modalWrap .smallModalForm {
  width: 500px;
  margin: 0 auto;
  font-size: 18pt;
}

.smallModal .modalWrap .smallModalForm p, .smallModal .modalWrap .smallModalForm .formGroup {
  width: 320px;
  margin: 25px auto;
}

.smallModal .modalWrap .smallModalForm p input, .smallModal .modalWrap .smallModalForm .formGroup input {
  color: #604545;
  width: 180px;
  height: 35px;
  font-size: 20px;
  padding: 5px;
  border: 1px solid #604545;
  border-radius: 5px;
}

.smallModal .modalWrap .smallModalForm p input[type="time"]::-webkit-calendar-picker-indicator, .smallModal .modalWrap .smallModalForm p input[type="date"]::-webkit-calendar-picker-indicator, .smallModal .modalWrap .smallModalForm .formGroup input[type="time"]::-webkit-calendar-picker-indicator, .smallModal .modalWrap .smallModalForm .formGroup input[type="date"]::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(27%) sepia(4%) saturate(3615%) hue-rotate(314deg) brightness(91%) contrast(82%);
          filter: invert(27%) sepia(4%) saturate(3615%) hue-rotate(314deg) brightness(91%) contrast(82%);
}

.smallModal .modalWrap .smallModalForm p:first-child, .smallModal .modalWrap .smallModalForm .formGroup:first-child {
  margin-top: 45px;
}

.smallModal .modalWrap .smallModalForm p:last-child, .smallModal .modalWrap .smallModalForm .formGroup:last-child {
  text-align: right;
}

.smallModal .modalWrap .smallModalForm p:last-child button, .smallModal .modalWrap .smallModalForm .formGroup:last-child button {
  border: 1px solid #604545;
  border-radius: 10px;
  color: #604545;
  background-color: white;
  font-size: 14pt;
  width: 65px;
  height: 38px;
}

.smallModal .modalWrap .smallModalForm p:last-child button:first-child, .smallModal .modalWrap .smallModalForm .formGroup:last-child button:first-child {
  margin-right: 5px;
}

.smallModal .modalWrap .smallModalForm p:last-child button:hover, .smallModal .modalWrap .smallModalForm .formGroup:last-child button:hover {
  color: white;
  background-color: #604545;
  cursor: pointer;
}

.miniModal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.miniModal .modalWrap {
  width: 1000px;
  height: 600px;
  background-color: white;
  border-radius: 25px;
  color: #604545;
  -webkit-box-shadow: 10px 10px 25px #707070;
          box-shadow: 10px 10px 25px #707070;
  overflow: hidden;
}

.miniModal .modalWrap .modalClose {
  width: 40px;
  height: 40px;
  font-size: 35px;
  font-weight: bold;
  background-color: #604545;
  color: white;
  border-radius: 50px;
  text-align: center;
  margin: 25px 25px 0 0;
  float: right;
  cursor: pointer;
}

.miniModal .modalWrap .modalClose:hover {
  background-color: #978484;
}

.miniModal .modalWrap .modalContent {
  margin: 60px;
}

.miniModal .modalWrap .modalContent #mainModalTitle {
  margin-bottom: 30px;
  font-size: 28pt;
  font-weight: bold;
}

.miniModal .modalWrap {
  width: 400px;
  height: 380px;
}

.miniModal .modalWrap .miniModalForm {
  width: 300px;
  margin: 0 auto;
  font-size: 18pt;
}

.miniModal .modalWrap .miniModalForm .formGroup {
  width: 207px;
  margin: 30px auto;
}

.miniModal .modalWrap .miniModalForm .formGroup p {
  margin-bottom: 10px;
}

.miniModal .modalWrap .miniModalForm .formGroup input {
  text-align: right;
  color: #604545;
  width: 180px;
  height: 35px;
  font-size: 20px;
  padding: 5px;
  border: 1px solid #604545;
  border-radius: 5px;
}

.miniModal .modalWrap .miniModalForm .formGroup:first-child {
  margin-top: 50px;
}

.miniModal .modalWrap .miniModalForm .formGroup:last-child {
  text-align: center;
}

.miniModal .modalWrap .miniModalForm .formGroup:last-child button {
  border: 1px solid #604545;
  border-radius: 10px;
  color: #604545;
  background-color: white;
  font-size: 14pt;
  width: 65px;
  height: 38px;
}

.miniModal .modalWrap .miniModalForm .formGroup:last-child button:first-child {
  margin-right: 5px;
}

.miniModal .modalWrap .miniModalForm .formGroup:last-child button:hover {
  color: white;
  background-color: #604545;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#container #mainWrapper {
  width: 90%;
  margin: 10px 30px;
}

#container #mainWrapper #mainTitle {
  margin: 35px 0 10px 0;
  color: #604545;
  font-size: 28pt;
  font-weight: bold;
}

#paginationArea {
  position: absolute;
  bottom: 15px;
  left: 43%;
  right: 43%;
  font-size: 13pt;
}

#paginationArea a {
  padding: 5px 8px;
  color: #604545;
  text-decoration: none;
  border-radius: 50px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

#paginationArea .nonActivePage:hover {
  background-color: #DCD6C6;
}

#paginationArea .activePage {
  font-weight: bolder;
  pointer-events: none;
  cursor: default;
}

#paginationArea .preNextPage {
  background-color: #604545;
  color: #DCD6C6;
  margin: 0 3px;
}

#paginationArea .preNextPage:hover {
  background-color: #978484;
}

::-moz-selection {
  background: rgba(220, 214, 198, 0.5);
  color: #604545;
}

::selection {
  background: rgba(220, 214, 198, 0.5);
  color: #604545;
}
/*# sourceMappingURL=style.css.map */