<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <footer>
    <div class="footer-container">
      <div class="logo">
        <img src="img/logo.svg" alt="呷甜甜Sweet Bakery">
      </div>
      <div class="store-info">
        <h4>關於我們</h4>
        <ul class="aboutInfo">
          <li><i class="fas fa-map-marker-alt"></i><a href="https://www.google.com/maps">台中市黎明路</a></li>
          <li><i class="fas fa-phone"></i><a href="tel:04-12345678">04-12345678</a></li>
          <li><i class="fas fa-clock"></i><a href="mailto: sweetbakery@email.com">10:00 ~ 20:00</a></li>
          <li><i class="fas fa-envelope"></i><a href="mailto: sweetbakery@email.com">sweetbakery@gmail.com</a></li>
        </ul>

      </div>
      <div class="social">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-line"></i>
      </div>
    </div>
  </footer>

</body>

</html>