.carousel{
  .heroSwiper{
    position: relative;
    z-index: 1;
    img{
      width: 100%;
    }
    .swiper-pagination-bullet{
      width: 0.7rem;
      height: 0.7rem;
    }
    .swiper-pagination-bullet-active{
      background-color: $darker-pink;
    }
    .swiper-button-prev, .swiper-button-next{
      color: $darker-pink;
      font-weight: 700;
    }
    
  }
}