.carousel{
  .heroSwiper{
    position: relative;
    z-index: 1;
    img{
      width: 100%;
    }
    .swiper-pagination-bullet-active{
      background-color: $pink;
    }
    .swiper-button-prev, .swiper-button-next{
      color: $pink;
      font-weight: 700;
    }
  }
}